[2016-09-06 07:24] endel opened #1 "Error: ["op"] does not seem to exist in the JArray"
As reported by Chris Dillman:

Could you try running your unity test code under Unity 5.40f3  or around there the non beta version of unity.

Im getting an exception in

[code]

and this is leading the client closing the connection.
This is immediately after successfully joining a room.

[2016-09-06 18:30] endel commented on #1
Turns out that this errors only occurs when trying to use Colyseus server 0.4.x. The current Unity3D client is only compatible with server v0.3.x

[2016-09-06 18:30] #1 closed

[2016-09-06 18:34] endel opened #2 "Compatiblity with server v0.4.x"
Roadmap for compatibility with server v0.4.x:
- [x] Implement binary delta patching (https://github.com/dchest/fossil-delta-js)
- [x] Use [FossilDelta](https://github.com/endel/FossilDelta) on colyseus-unity3d client
- [x] Compute the diff between previous and new state in the client-side
- [x] Release version `colyseus-unity3d` v0.4.0

[2016-09-15 08:11] rankorn opened #3 "Getting exception when trying to Join room"
I am trying to run an example app, that just opens the connection to the server and joins a room. I am using the Chat server example, and created a small Unity app that connects.

Creating the Client works fine and I am getting the OnOpen event.

Then I am trying to join the room and I get the following 2 exceptions:
`Error: An exception has occurred during an OnMessage event., System.InvalidOpera

[2016-09-15 08:34] endel commented on #3
Hi @rankorn,

Are you using Colyseus server v0.3.x? The current Unity3D client is not yet compatible with server version 0.4.x.

Cheers!

[2016-09-15 09:20] rankorn commented on #3
I have installed the chat server example using npm, so I am not sure which version it uses.

Is there any Unity client version that can work with 0.4? beta maybe?

I want to check out Colyseus but my client is Unity..

[2016-09-15 09:28] endel commented on #3
@rankorn I see. Unfortunately, there's no Unity client that understands the new message format coming from server v0.4.x.

I suggest you to downgrade your server to v0.3.x - this version of the chat server is using it: https://github.com/endel/colyseus-react-example/tree/d1da67c09676049973874f3e141fc6777562f09f

The API didn't change much between those versions. I plan to implement compatibility w

[2016-09-15 09:34] rankorn commented on #3
Ok, will try that.
Thanks

[2016-09-15 09:39] rankorn commented on #3
Actually getting the same problem with the old server...

[2016-09-15 09:47] endel commented on #3
@rankorn that's odd. Thanks for your report! I will dive deep into that tonight, and hopefully have a solution by the end of the day.

[2016-09-25 20:49] endel commented on #2
Started working on the delta-patching port to C# here: https://github.com/endel/FossilDelta

[2016-09-26 07:17] endel opened #4 "Support serializing and sending complex data to the server"
Currently it's not supported to send messages like this:

[code]

[2016-11-05 09:14] thebspin commented on #2
How is the progress going so far? This project seems very promising and i would like to try out the latest server version while im currently deciding on what our team should use.

[2016-11-06 18:32] endel commented on #2
Hi @thebspin, the [dev](https://github.com/gamestdio/colyseus-unity3d/tree/dev) branch can already communicate with the last version of the server, but the "patch list" feature is still missing.

The server v0.3.x used to send the patch list directly as [JSON patch format](https://tools.ietf.org/html/rfc6902), which was then simply applied in the client-side. This has been changed in version v0.4.

[2016-12-12 14:53] endel commented on #2
I've been rewriting this part of the system for the JavaScript client (https://github.com/gamestdio/colyseus.js/issues/3)

My plan is to have exactly the same implementation tied to the msgpack library for Unity3d.

[2016-12-17 21:40] endel opened #5 "Support WebGL export"
The changes introduced in #2 are a good starting point to support Unity WebGL export.

The main issue now is to have msgpack serialization working in the browser (https://github.com/msgpack/msgpack-cli/issues/196)

[2017-02-18 22:13] endel commented on #2
Version `0.4.0` released. https://github.com/gamestdio/colyseus-unity3d/releases/tag/0.4.0

[2017-02-18 22:13] #2 closed

[2017-02-20 09:53] endel commented on #3
This has been fixed in the latest version, compatible with server `0.4.0`.

[2017-02-20 09:53] #3 closed

[2017-03-06 15:29] hex opened #6 "OnPlayerMove example?"
Hi there! I have just discovered Colyseus and I'm trying to use it in a simple Unity game just to see how it feels. I am having trouble understanding how to trigger `OnPlayerMove`. I tried something like this in Unity:
[code]

but it doesn't seem to do anything. Can you give me a small example on how to do this? Thank you!

[2017-03-07 19:42] endel commented on #6
Hi @hex!

The `OnPlayerMove` callback in the example will be triggered when the server state changes.

The basics to use Colyseus is:

- send user input from the client to the server (usually "left pressed" is better than "x=-10")
- server computes the input and updates the state, which will later be broadcasted to all clients
- clients can then update the view

You can find the server logic for t

[2017-03-07 19:42] #6 closed

[2017-03-24 08:37] endel commented on #5
@quanglam68 suggested in the Gitter channel to use this tool instead https://www.assetstore.unity3d.com/en/#!/content/59918

[2017-03-27 18:51] endel commented on #5
By changing the MsgPack implementation to we would need to adapt/rewrite the [DeltaListener](https://github.com/gamestdio/colyseus-unity3d/blob/master/Assets/Colyseus/DeltaListener/Compare.cs) class.

[2017-04-03 15:56] endel opened #7 "Exception: copy extends past end of input"
Reported by @quanglam68 in the Gitter channel:

---

hi, I still learning the unity client. testing the code given for exchanging information with 2 clients and the server works fine. ex: trace in one client : OnUpdateHandler: `{ "players" : { "SkkPLJeag" : { "x" : 520, "y" : 0 }, "HJrDLkxpx" : { "x" : 255, "y" : 0 } } }`
but when i make the data bigger in the server, `this.state.players[client.id

[2017-04-03 15:57] endel commented on #7
I'll investigate this week!

[2017-04-09 19:59] lonewolfaka9 commented on #7
facing same issue :(

[2017-04-11 19:45] endel commented on #7
Sorry @lonewolfaka9 @quanglam68,

I believe the bad code example (server-side) was causing this problem. It was removing all user data after 5 seconds: https://github.com/gamestdio/colyseus-unity3d/commit/f349f3b55b41028f414aeed197262afc04a1976d#diff-b144d0c249b359c454ed45edd9ef619d

Please let me know if this occurs to you even after removing those lines.

[2017-04-12 09:41] niklaswolf opened #8 "Windows UWP-Support"
Hi, I want to use colyseus in a project where I have to write a Unity Windows UWP App. When I wanted to build the project, I got an error message because the WebSocket implementation doesn't work on UWP.
Now I thought I could add another preprocessor-directive in WebSocket.cs and write the needed functions with a WebSocket implementation for UWP (https://docs.microsoft.com/en-us/windows/uwp/networ

[2017-04-12 12:35] endel commented on #8
Hi @niklaswolf,

That's right, that's the only methods used from the [WebSocket client](https://github.com/sta/websocket-sharp) right now. I thought websocket-sharp had support for all platforms.

I'm not a Windows user, so I'm usually building this project using Mono. Please let me know if you need any help. Cheers!

[2017-04-13 10:08] niklaswolf commented on #8
Hi,
yeah it seems like websocket-sharp is supporting nearly every platform besides UWP. :(
After digging a bit deeper, I found that websocket-sharp is used in two other files, Client.cs and Room.cs. For these files I have another question: where is `EventHandler.Emit()` coming from (for example https://github.com/gamestdio/colyseus-unity3d/blob/master/Assets/Colyseus/Room.cs#L79)? Is it defined by

[2017-04-13 10:50] endel commented on #8
@niklaswolf that's just a regular [C# EventHandler](https://msdn.microsoft.com/en-us/library/db0etb8x(v=vs.110).aspx). It's a public API to listen to events when you have your Room instantiated.

For MsgPack I'm using a Unity3D-compatible build, from version [0.9.0-beta1](https://github.com/msgpack/msgpack-cli/releases/tag/0.9.0-beta1). For UWP you can try using a different dll, or maybe building

[2017-04-13 11:35] niklaswolf commented on #8
@endel okay this `Emit()`-function still is a bit mysterious for me, as I can't find it in any documentation. But I'll try to get this working for UWP next week.
By the way thanks for your great support! :)

[2017-04-21 11:23] niklaswolf commented on #7
@endel same issue here :(
I am using the colyseus-starter template for the server and modified it, so unfortunatly I don't think this was the problem :/
The error occurs when the first patch is beeing processed. The first full state Exchange is working fine, an I get the following on the Client side:
[code]
Now I'm adding a new Player in the onJoin-method of the Server and get the following on the

[2017-04-21 11:31] niklaswolf commented on #7
I investigated a bit further:
The above does NOT work in the JS-Client, too. It gives an empty Players-property.
What I then tried was too get rid of the Player-reference in the state and added a simple String ('adv') instead, so I got the following on the Server
[code]
This didn't work either on the JS-Client. It gave the same empty Players-property.

Then I tried to get rid of the object/Array c

[2017-04-21 12:01] endel commented on #7
@niklaswolf Do you have the project using the JavaScript client so I can have a look at? If you can also share your Unity/C# client would be great. I'd like to investigate further. Thanks

[2017-04-21 12:57] niklaswolf commented on #7
Server: https://mygit.th-deg.de/nw17904/colyseus-server
JS-Client: https://mygit.th-deg.de/jl01849/WebVR (actually maintained by a colleague of mine)
These two are hosted on our Universitys gitlab, but we made them public, so you should be able to clone them ;)

Unity: https://github.com/niklaswolf/colyseus-unity3d (this is adapted for UWP, but it works in Unity-Editor, too. The error is also show

[2017-04-21 17:13] endel commented on #7
@niklaswolf unfortunately, I don't have rights to clone these repositories. Do you mind sending them to me at endel.dreyer [at] gmail.com? Thanks!

[2017-04-22 11:01] niklaswolf commented on #7
@endel
I just sent you an email ;)

[2017-04-24 12:40] niklaswolf commented on #7
Any news on this? :)

[2017-04-24 13:05] endel commented on #7
Hi @niklaswolf, thanks for sending the sources. I hope to find some time during this week to check it out. Sorry.

[2017-04-24 21:08] endel commented on #7
Yup, the error is still happening. 😢

Here's a report of what I could find:
- The error never occurs for the first client.
- The problem happens when the second client receives the first patch message from the server.
- I believe the root cause of the issue on `Room#SetState()`: https://github.com/gamestdio/colyseus-unity3d/blob/master/Assets/Colyseus/Room.cs#L93
- The client should have the lates

[2017-04-25 08:38] niklaswolf commented on #7
@endel I tried the suggestion the guy from msgpack made, and it seems to work! If you don't mind, I'll make a PR to include this solution! :)

[2017-04-25 08:46] endel commented on #7
@niklaswolf awesome. Sure, that'd be great! Thanks! :)

[2017-04-25 18:49] endel commented on #7
It's finally fixed! Thanks @niklaswolf for your pull-request! 🎉

[2017-04-25 18:49] #7 closed

[2017-04-30 12:41] endel commented on #8
Thanks for this! Closing as it was implemented by yourself here :) https://github.com/gamestdio/colyseus-unity3d/pull/10

[2017-04-30 12:41] #8 closed

[2017-05-03 08:20] niklaswolf opened #12 "Add event-handlers for "onFirstStateReceived" and "onConnect""
As discussed in the gitter channel, it would be nice to have two new event-handlers for `onFirstStateReceived` (to be able to build the initial game structure more easily) and `onConnect`.

[2017-05-03 11:11] endel commented on #12
+1 for `onFirstStateReceived`.

I think `onConnect` can be easily confounded with [`onJoin`](https://github.com/gamestdio/colyseus-unity3d/blob/master/Assets/Colyseus/Room.cs#L29)

[2017-05-30 03:13] derwish-pro commented on #5
Solution is here: https://github.com/gamestdio/colyseus-unity3d/pull/13

[2017-06-15 19:08] endel opened #14 "DeltaContainer: meet version 1.1.1 of JavaScript client"
Version `1.1.1` of the JavaScript package introduced this fix: https://github.com/endel/delta-listener/commit/63968cf56befac7f2c9404c635eb9be15e9d3aeb

Need to replicate in the C# client, here: https://github.com/gamestdio/colyseus-unity3d/blob/012a063a821bb6432f65a5db1c90f0a48a29914e/Assets/Colyseus/DeltaListener/DeltaContainer.cs#L115

[2017-06-21 14:05] niklaswolf opened #15 "Arrays are not fully supported in patches"
The patch Operation "add" does not work for Arrays in the gamestate. Instead, every time a new item gets pushed into it, the Operation for the patch is "replace" and the value is the full Array itself.

I could investigate this a bit further and found the origin of the Problem:
https://github.com/gamestdio/colyseus-unity3d/blob/master/Assets/Colyseus/DeltaListener/Compare.cs#L46
the type of `oldVa

[2017-06-21 15:20] niklaswolf commented on #15
I'll try to solve this tomorrow ;)

[2017-06-21 18:05] michalhainc commented on #15
Hi, I tried to resolve and tested adding new array items to room state, tested also removing, but I am not sure how the replace would work, please have a look at my pull request and evaluate... for my case locally this fix would be probably enough... let's see  #16

[2017-06-23 13:34] michalhainc opened #17 "Null reference exceptions in Room.cs when any of the event handlers is not set"
Event handlers like OnJoin in Room class are not null checked before trying to invoke.

I will fix this and send a pull request

[2017-07-01 01:40] PiotrChabrosAtos commented on #15
when will this be resolved? thx

[2017-07-01 01:58] PiotrChabrosAtos opened #18 "chatRoom.state.Listen does not work as expected"
the Unity Client debug is showing state changes with op: "add" and path: "players", but the OnChangeFallback instead of OnAddPlayer is getting invoked. why?

regarding this piece:

[code]

I believe that the OnAddPlayer function is set up to be the action listener for op: "add" and segment: "players", so why instead of it the function OnChangeFallback is getting invoked?

[2017-07-01 13:15] endel commented on #18
Hey @PiotrChabrosAtos,

The "fallback" is called only if there are no other matches. I think that's what you'd need instead:

[code]

Using `"players/:id"` as a path should catch when a new player is added.

[2017-07-01 14:27] PiotrChabrosAtos commented on #18
Thanks. This works.

[2017-07-01 14:27] #18 closed

[2017-07-07 20:42] PiotrChabrosAtos opened #19 "Room is not disposed after all clients disconnect"
The problem is that the room does not dispose even after all of the clients leave. Then if another player searches for room to join he gets connected to this room with the "ghost" client.

The room gets finally disposed only after the game is re-launched by the client who initially created the room. Weird.

This happens only if the clients leave by instantly closing the application.

[2017-07-08 01:05] #19 closed

[2017-07-08 01:06] PiotrChabrosAtos commented on #19
Fixed by reducing the function code to minimum:

[2017-07-11 03:38] edosusanto opened #20 "application paused issue onUpdate sync"
Hi, I just trying your framework, and I found out if I minimize my game in android(press home button), onUpdateHandler will paused too. And then after I unpaused it(get back into the game), onUpdate will give me so many patches. And also my client will go into laggy condition(input became delayed until all previous patches applied). Any suggestion about how to handle this issue?

[2017-07-11 13:55] endel commented on #20
Hi @edosusanto,

Would be nice to identify "pauses" like this and only call the latest `OnUpdate` indeed.
Ideally this feature shouldn't target a specific platform (Android) though.

[2017-07-26 19:32] endel commented on #14
Work in progress on this branch: https://github.com/gamestdio/colyseus-unity3d/tree/0.5.0

Will come along with support for the latest version of the server.

[2017-07-27 14:06] endel commented on #17
Thanks for reporting @michalhainc, I'm going to fix this for `v0.5.0`, which will come along with support for the latest version of the server.

[2017-07-27 14:13] endel opened #21 "Create test suite"
The test suite should cover:

- [x] DeltaContainer (https://github.com/gamestdio/colyseus-unity3d/issues/14)
- [x] Client
- [x] Room
- [ ] Parsing complex MessagePack objects from the server
- [x] Arrays support in patches (https://github.com/gamestdio/colyseus-unity3d/issues/15)

[2017-07-27 14:27] endel commented on #12
Hey @niklaswolf, I'm finally having some time to update the Unity3d client. It would be convenient to create a new property for this on `RoomUpdateEventArgs`.

What do you think?

[code]

[2017-07-28 09:30] niklaswolf commented on #12
Hi @endel,
yes this sounds really good! We just have to document this well, so that everyone knows how to use it :)

[2017-08-07 21:38] endel commented on #14
Done on branch [0.5.0](https://github.com/gamestdio/colyseus-unity3d/tree/0.5.0). Will release it soon.

[2017-08-07 21:38] #14 closed

[2017-08-07 21:39] endel commented on #17
Done on branch [0.5.0](https://github.com/gamestdio/colyseus-unity3d/tree/0.5.0). Will release it soon.

[2017-08-07 21:39] #17 closed

[2017-08-15 14:04] endel commented on #15
Fixed on 0.5.0 release! https://github.com/gamestdio/colyseus-unity3d/releases/tag/0.5.0

[2017-08-15 14:04] #15 closed

[2017-08-15 14:05] #21 closed

[2017-08-15 14:06] endel commented on #12
Available on 0.5.0 release! https://github.com/gamestdio/colyseus-unity3d/releases/tag/0.5.0

[2017-08-15 14:06] #12 closed

[2017-08-15 14:09] endel commented on #5
Thanks @derwish-pro! Version 0.5.0 now has your implementation https://github.com/gamestdio/colyseus-unity3d/releases/tag/0.5.0

[2017-08-15 14:09] #5 closed

[2017-08-15 14:11] endel commented on #4
Currently, the client only supports sending simple data structures and lists of simple data structures.

[2017-09-17 14:39] Rocks360 opened #22 "Does not work on IOS"
Hello it works fine on the Editor. But when the Game is Running on a IOS Device (iPhone 5) it is not working. I get the following Debug log form xCode.

[code]

[2017-09-17 18:16] endel commented on #22
Hi @Rocks360, thanks for reporting. There's also one issue open for Android here https://github.com/gamestdio/colyseus/issues/94

I'll investigate this soon.

[2017-09-24 14:40] Rocks360 commented on #22
Actually I guess it wasn't working because I wanted to connect from my iPhone to localhost. Change the Ip to the host and it will work i guess. I didn't tried. I implemented a solution of my own. Also because I needed a lot of customizations.

[2017-09-25 12:30] endel commented on #22
Hey @Rocks360, that makes sense. I'm curious about the customizations you had to implement. Have you changed something in the Unity3d client itself?

[2017-09-25 12:34] endel opened #23 "DeltaContainer not triggering a data change"
@derwish-pro reported a problem in the `DeltaContainer` recently, with a patch: https://gist.github.com/derwish-pro/ecfd2c143b31816a408ef380e74ac21d

**More info:**

I have such a state of the game room on the server-side:

[code]

I want to set a listener on the unity-side to catch this path. How can I do it?
I tried:

[code]

and

[code]
None of the ways work.

I had to do a fix in DeltaContaine

[2017-09-25 12:39] endel opened #24 "possibility to cast the state to a specific data type"
Currently, the only way to cast the state to a specific data type is by de-serializing it **again** in the `OnUpdate` action:

[code]

It would be great if the client allows to provide a data-type when joining the room - and use it for de-serializing automatically - for example:

[code]

(Thanks for proposing @derwish-pro)

[2017-10-01 03:14] #23 closed

[2017-10-01 03:16] endel commented on #23
Thanks for the initial implementation @derwish-pro, I fixed it a bit differently, though: https://github.com/gamestdio/colyseus-unity3d/commit/5006760c1b85063fd50a4dc05584a6c37d2ec074

[2017-10-03 11:40] sagestudios opened #25 "Bad Checksum"
When 5th client joins the server, then this error coming on client side.

[code]
After this error, 5th client not getting any messages from server.

[2017-10-04 13:11] endel opened #26 "Cannot join multiple rooms at the same time"
Same issue as the JavaScript client, see https://github.com/gamestdio/colyseus.js/issues/14

[2017-10-14 01:38] #26 closed

[2017-10-14 02:38] endel commented on #25
Thanks for reporting @sagestudios. I just confirmed exactly what you described in the example project. I'll have a look into that.

How's been your experience so far with the framework? Cheers!

[2017-10-14 03:42] sagestudios commented on #25
Hello Endel, loved the framework :) . Exactly what we are looking for in terms of features. Porting our current games will be easy. Have to test the performance and scalability. Looking forward for horizontal scaling in upcoming versions.

[2017-10-14 17:18] derwish-pro opened #27 "OnDisconnected event"
The client does not react in any way when the connection with the server is lost.

[2017-10-15 01:00] #27 closed

[2017-10-15 01:01] endel commented on #27
Thanks for reporting @derwish-pro, now `Client.OnClose` and `Room.OnLeave` are being invoked properly.

[2017-10-16 06:11] shophk opened #28 "KeyNotFoundException: The given key was not present in the dictionary."
Hi,

I might not be using the right terms to describe what I want to achieve but please bear with me on the following description:

This is from he example code ColyseusClient.cs

room.Listen ("players/:id/:axis", this.OnPlayerMove);
room.Listen ("players/:id", this.OnPlayerChange);
room.Listen ("messages/:number", this.OnMessageAdded);
        room.Listen("test_messages/:odd_numbers", this.OnMess

[2017-10-19 19:27] #25 closed

[2017-10-19 19:57] endel commented on #28
Hi @shophk,

I've updated the example project. Maybe it's a bit clearer now how it works.

Let me know if you still have any questions. Feel free to re-open this issue if you need to.

[2017-10-19 19:57] #28 closed

[2017-10-23 14:08] shophk opened #29 "This property is deprecated"
I opened the project using Unity 2017.2.0f3:

Assets/UnityTestTools/IntegrationTestsFramework/TestRunner/Editor/Batch.cs(71,29): error CS0619: `UnityEngine.Application.isWebPlayer' is obsolete: `This property is deprecated and will be removed in a future version of Unity, Webplayer support has been removed since Unity 5.4'

[2017-10-23 14:09] endel commented on #29
Hey @shophk, thanks for reporting, this is coming from the `UnityTestTools` package though, probably upgrading should fix this. I'll try to upgrade soon. Feel free to re-open this if you feel the need to. Cheers!

[2017-10-23 14:09] #29 closed

[2017-10-24 17:07] shophk commented on #24
Hi I try implementing this myself. Would you please take a look?
I have uploaded the code to this https://github.com/shophk/try_colyseus.git

If it is something like this. My question is, how do I send updated data from the server to put into my "GameRoom". I added a class GameRoom with one string variable RoomName, how to assign a RoomName of the GameRoom from the sever?

The code now the GameRoo

[2017-11-03 02:57] endel opened #30 "cannot .Listen to mutations on a string"
(Reported by @aloani20 on gitter)

hi guys . I have this situation . on my client I was listening to property called "turn" using `room.Listen ("turn", this.OnTurnChange);` and the state on the server look like this

[code]

but when i mutate the value of dice i could see the change on the client but changing turn did not trigger this.OnTurnChange.

I have come up with a result that mutating javas

[2017-11-03 02:59] endel commented on #30
The problem is exactly on this check: https://github.com/gamestdio/colyseus-unity3d/blob/f08f47d5758e0228f3e0e91b6a1b50dd1fe7aa7f/Assets/Plugins/Colyseus/DeltaListener/Compare.cs#L61-L65

It returns `true` for string changes, whereas it should return false and perform a `"replace"` operation: https://github.com/gamestdio/colyseus-unity3d/blob/f08f47d5758e0228f3e0e91b6a1b50dd1fe7aa7f/Assets/Plugins

[2017-11-03 03:00] endel commented on #30
Just added a failing test scenario confirming the issue: https://github.com/gamestdio/colyseus-unity3d/commit/f08f47d5758e0228f3e0e91b6a1b50dd1fe7aa7f

[2017-11-03 03:23] #30 closed

[2017-11-03 04:02] aloani20 commented on #30
thanks endel.

[2017-11-03 11:46] aloani20 commented on #30
dear endel
I checked it. It gave the same result as before. could you check it again please.

[2017-11-03 13:10] endel commented on #30
Hey @aloani20, are you sure you checked the right version? Here's how the updated `Compare.cs` looks like: https://github.com/gamestdio/colyseus-unity3d/blob/0.5.6/Assets/Plugins/Colyseus/DeltaListener/Compare.cs#L64-L68

[2017-11-03 13:34] aloani20 commented on #30
thanks Endel woks lick a charm.

[2017-11-03 13:34] aloani20 commented on #30
lick = like. so happy it worked

[2017-11-15 16:42] endel opened #31 "generate deep "add" operations"
The C# client still doesn't dispatch deep "add" operations, as the JavaScript one does:
https://github.com/endel/delta-listener/blob/e3e50c6fe48057570b9fa45122343b957f1b9094/src/compare.ts#L80-L83

The Compare implementation in C# should generate deeper "add" operations too: https://github.com/gamestdio/colyseus-unity3d/blob/5223e7a5a84bf6f24164dd1961990c633b00a604/Assets/Plugins/Colyseus/DeltaLis

[2017-11-16 14:47] #31 closed

[2017-12-07 18:54] endel opened #32 "allow to remove listener during listeners loop"
Need to apply the same patch as the JavaScript version: https://github.com/endel/delta-listener/commit/37897b4072ce494fed8c138ed2973bb495711f88

[2018-01-10 15:56] endel commented on #4
Apparently this is now supported using latest version of [msgpack-unity3d](https://github.com/deniszykov/msgpack-unity3d).

[2018-01-10 15:56] #4 closed

[2018-03-15 16:52] Wenish opened #34 "data which u reciev over onData is private"
If u add a listner to onData u dont get the data

[code]

The data is private and so u cant accessible
![ondataisprivate](https://user-images.githubusercontent.com/18367963/37478033-7f3d1ea8-2879-11e8-9bc8-13062e06360f.png)

[2018-03-15 17:00] endel commented on #34
Hey @Wenish,

I believe you need to cast the `data` to the type you're sending from the server-side. e.g.:

[code]

[2018-03-16 11:53] #34 closed

[2018-03-21 03:14] Wenish opened #35 "Client which creates the room gets NullReferenceException on Startup"
On the client which creates a new room will have this NullReference:

[code]
I can open other clients, join the room and everything works fine for them.

any idea why this could happen?

its pretty much the Start function from the docs:
https://github.com/BroProducts/mem-client/blob/master/MemMapPrototype/Assets/Scripts/Network/ColyseusClient.cs#L55

The Example Project modified so it has the use

[2018-03-21 04:15] endel commented on #35
Hi @Wenish, thanks for reporting. This looks like a bug in the [`Generate`](https://github.com/gamestdio/colyseus-unity3d/blob/master/Assets/Plugins/Colyseus/DeltaListener/Compare.cs#L66) method, which compares the new with the previous state.

Do you mind sharing the state's data structure you have in the server-side? Can I reproduce the issue by cloning your repos?

[2018-03-21 09:43] Wenish commented on #35
hi @endel
yes u can.

on client side its map4 in assets/scenes
maybe u have to change the ip on the network entity in the scene to localhost...
and it takes some time to open the project...

its the battleroom which i use
server code:
https://github.com/BroProducts/mem-server

[2018-03-21 18:04] Wenish commented on #35
it seems like i only get the error when no debugger is attached to the unity editor

[2018-03-22 08:55] Wenish commented on #35
@endel thats the old project in the repo.
im using this MemMapPrototype
im updated it there but got still the error

https://github.com/BroProducts/mem-client/blob/master/MemMapPrototype/Assets/Plugins/Colyseus/DeltaListener/Compare.cs#L56-L62

[2018-03-23 16:03] endel commented on #35
@Wenish how can I reproduce the error?

- I've opened Map4 on the "MemMapPrototype" project
- Started the first client on the editor
- Started the second client on a Mac build
- Right click on the screen to move both clients

Everything seems fine so far. When the error happens exactly?

[2018-03-23 17:26] endel commented on #35
Can you explain exactly the steps you taken? Does this error happen when you're trying to run just one client from the editor preview?

[2018-03-23 23:34] Wenish commented on #35
@endel it happens in the built version too

[2018-03-24 02:25] endel commented on #35
@Wenish Unfortunately, I cannot reproduce here. I'd appreciate if you could send me a pull request for this.

[2018-03-24 02:47] Wenish commented on #35
@endel i will try to reproduce the problem in a small project in the next days so its easier to fix

[2018-03-25 02:15] Wenish opened #36 "Negative Numbers which client receives dont get parsed correctly"
If i set a position of a Player in the server state to this:

[code]

on the client its this:
[code]

Client Side Code which prints out x wrong.
in debug u see its in DataChange already false
[code]

Modified Version of the Unity client example which set the spawn of the cube to this
![addplayer](https://user-images.githubusercontent.com/18367963/37965546-b988fc1c-31c5-11e8-9dd3-42d00fdb50dc.png)

[2018-03-27 14:29] endel commented on #36
Thanks a lot, @Wenish! I've dug down and this has something to do with the msgpack decoder. Created an issue on the owner's repository, let's see if he can help us. https://github.com/deniszykov/msgpack-unity3d/issues/18

[2018-03-29 15:49] #36 closed

[2018-03-29 15:57] endel commented on #36
Hi @Wenish, good news! @deniszykov managed to fix this on version `2.3.2` of the msgpack library! I've updated his plugin here. Can you download the latest version and try again? Cheers!

[2018-04-01 21:01] #35 closed

[2018-06-16 09:59] Wenish opened #39 "Unity ECS Support/Example"
Unity will bring ECS this year and some stuff is already out.
I think Colyseus would work really great with the unity ECS.
I opened this issue to bring it up.

Maybe i would already be enough to just change the ColyseusClient example.

[2018-07-04 21:02] endel opened #41 "Support MonoGame"
Research the possibility to integrate this client on [MonoGame](http://www.monogame.net/).

[2018-07-06 17:09] SergeyMaas opened #42 "Don't work GetAvailableRooms"
Hi!!!
Why in Client.cs commented code part with function GetAvailableRooms?
When that will be fixed and i can work with that?

[code]

[2018-07-07 01:49] endel commented on #42
Hi @SergeyMaas,

As far as I remember, this callback wasn't being triggered properly:

https://github.com/gamestdio/colyseus-unity3d/blob/778159e572b8babcd848ba014d047cf966e6e58c/Assets/Plugins/Colyseus/Client.cs#L204-L208
That's why I left the whole `GetAvailableRooms` functionality commented out. I'd appreciate pull-requests to fix this issue!

Cheers

[2018-07-07 06:06] bhavik66 commented on #42
@endel @SergeyMaas Pull request created to fix this issue. Thanks

[2018-07-07 06:19] endel commented on #42
Thanks a lot, @bhavik66! Just released [0.9.5](https://github.com/gamestdio/colyseus-unity3d/releases/tag/0.9.5) with your pull-request!

[2018-07-07 06:19] #42 closed

[2018-07-10 07:10] Taikha opened #45 "Hi Is client.getAvailableRooms not working on unity ?"
Hi I tried the #44 but It seems still don't return list of available rooms in the callback. Please advise.

[2018-07-10 09:42] #45 closed

[2018-08-01 22:01] Berkays opened #46 "Unity client doenst work without loop part"
The unity client can create and join the lobby if i don't use the sample part below.
Is this code piece really necessary to use the client?
`int i = 0;

		while (true)
		{
			client.Recv();

			i++;

			if (i % 50 == 0) {
				room.Send("some_command");
			}

			yield return 0;
		}`

[2018-08-14 18:31] aedbrault opened #47 "Bug Report - Client.cs + Suggestion fix"
Hi, I discovered today a bug apparently already mentioned on other forum but no solution was found.
https://discuss.colyseus.io/assets/uploads/files/1534256094505-21a5ff34-cf8b-468e-b6ef-97ed2d4a3220-image-resized.png
Colyseus/Client.cs : 88
https://discuss.colyseus.io/assets/uploads/files/1534256263835-6696875e-5ce8-4c5f-ac67-3b12d5515e82-image.png
I made some changes, and I have no problem, no m

[2018-08-14 19:28] aedbrault opened #48 "InvalidCastException Room.cs"
Hi , i have a new bug , its full random , i cant reproduce by my self
`InvalidCastException: Cannot cast from source type to destination type.
Colyseus.Room.ParseMessage (System.Byte[] recv) (at Assets/Plugins/Colyseus/Room.cs:153)
Colyseus.Room.Recv () (at Assets/Plugins/Colyseus/Room.cs:83)
Colyseus.Client.Recv () (at Assets/Plugins/Colyseus/Client.cs:90)
WsHandler+<Start>c__Iterator1.MoveNext (

[2018-08-15 08:40] Taikha opened #49 "BUG: After reconnect client state won't update to client"
After reconnect client, if there is any state changes, the client won't accept any update on room state.

[2018-08-15 16:27] endel commented on #49
Hi @Taikha, by reconnection you mean calling `ReJoin()`? Cheers

[2018-10-09 10:21] aedbrault commented on #48
Same issue here , i up the post

[2018-10-23 15:39] sshumihin opened #50 "BUG: NullReferenceException: Object reference not set to an instance of an object"
When I launch the project, I get an error: a connection in my room is null.

Logs from Unity:

UnityEngine.Debug:Log(Object)
<Start>c__Iterator0:MoveNext() (at Assets/ColyseusClient.cs:25)
UnityEngine.SetupCoroutine:InvokeMoveNext(IEnumerator, IntPtr)

UnityEngine.Debug:Log(Object)
<Start>c__Iterator0:MoveNext() (at Assets/ColyseusClient.cs:30)
UnityEngine.SetupCoroutine:InvokeMoveNext(IEnumerator

[2018-11-09 13:52] gioragutt opened #51 "GetAvailableRooms doesn't deserialise metadata correctly"
When I set my room metadata, even at `Client.cs:220` you can see that `metadata` is null in the received object.

[code]

I tried `JSON.stringify`ing the metadata object, still don't get a `string` on the client side.

[2018-11-22 10:02] Wenish commented on #39
@endel i made a project with colyseus which uses ecs.
https://github.com/Wenish/UnityEcsTest
should i add an example folder to this project with a simple version of my project?

[2018-12-19 13:19] kiaxseventh opened #52 "onClose"
onClose event dose not work !

[2018-12-19 13:41] endel commented on #52
Thanks for letting me know, does it not work on a particular platform, or all of them? Cheers

[2019-01-21 21:22] Wenish opened #54 "Unity2018.3.x: The type or namespace name 'DynamicMethod' could not be found"
So with the newest Unity Version it will not work anymore since 'DynamicMethod' isnt anymore in the namespace 'System.Reflection.Emit'

So the problem is in the GameDevWare.Serialization dependency

[code]
[code]

[2019-01-23 10:18] #39 closed

[2019-02-02 13:42] #54 closed

[2019-02-15 10:59] Geppard opened #55 "Login and password authentication"
Good day!
What about authentication with callback answer before connecting to Room?
I haven't finded it in examples

[2019-02-15 11:11] endel commented on #55
Hey @Geppard, did you get a chance to check the `auth` example on [colyseus-examples](https://github.com/colyseus/colyseus-examples/blob/master/rooms/03-auth.ts)? Cheers

[2019-02-16 08:46] AJ92 commented on #48
i think i have a similar issue :)
when node sends a change of type double/float for example and the value is 0.0, then on unity's side it is an integer all of a sudden so the convertToDouble function throws errors. So i assume your value might be some kind of other type.

[2019-02-16 23:25] impcyber commented on #55
I think this is about having the opportunity to pass the login and password parameters to the "opions" and process them at the clientVerify on server, not the room.
There was an issue about colysesus.js
https://github.com/colyseus/colyseus.js/pull/41#issuecomment-433667916

So, if we look at the unity3d client, we will see that there no possibility to pass "options" (the client on first connection

[2019-03-29 18:57] etherny opened #57 "v 0.10 : how to know which property change in schema ?"
Hello, in the unity exemple, specificly in OnPlayerMove method, could i know which field changed ?
If only x changed or both.
In a class with more properties it can be usefull.

Thank you.

[2019-03-29 18:58] endel commented on #57
hey @etherny, check C# tab in the docs here: https://docs.colyseus.io/state/schema/#onchange-changes-datachange

[2019-03-29 19:12] etherny commented on #57
I will try this. thank you.

[2019-03-29 19:12] #57 closed

[2019-03-29 19:19] etherny opened #58 "v 0.10 : Nested schemas"
Hi, i tried to externalize X and Y in unity exemple, in a Position schema and look for changes in this new Schema and X increment in JS onMessage method.
I regenerated the c# classes, change the code accordly and register an handler on the position in OnPlayerAdd method like this :

`item.Value.position.OnChange += OnPositionChange;`

I do not receive any event from position change. Server debug c

[2019-03-29 19:21] endel commented on #58
@etherny are you using latest version of `@colyseus/schema`? the last one is `0.4.6`

[2019-03-29 19:23] etherny commented on #58
just clone the unity exemple repo, i will check.

[2019-03-29 19:25] endel commented on #58
Try removing `package-lock.json`, and installing the dependencies again. I think it was forcing a previous version, sorry about that

[2019-03-29 19:31] etherny commented on #58
it works ! thank you.

[2019-03-29 19:31] #58 closed

[2019-03-29 19:35] etherny opened #59 "Coroutine or thread"
Hello, i the previous version (before 0.10) i met some performances issue due to socker reading in coroutine then i move this in thread with queue system to process events.
Do you think than the v0.10 serialization will resolve this coroutine perfomance issue ?

[2019-03-29 19:37] endel commented on #59
I'm not too familiar with these concepts in Unity, I'd appreciate if you could guide me about this.

What I can tell is that the performance now is supposed to be much higher. Previously the whole state needed to be decoded at each patch, now it decodes only what's really necessary.

[2019-03-29 19:47] etherny commented on #59
I will do my migration to v0.10 in next days.
If the performance issue always there, i will come back to you about thread proposal.

[2019-03-29 19:47] #59 closed

[2019-03-31 23:24] etherny opened #60 "v0.10 : c# file generation and extends"
Hi, i have a class A extending schema and another class B extending the A at generation fields with @type decorator in A are not present in class B, and c# class B extends schema and not class A.
Any solution for this ?

Thank you.

[2019-04-01 12:24] endel commented on #60
@etherny this has been fixed on `@colyseus/schema@0.4.9`. I'm going to check your suggestion sent by email soon, thanks a lot @etherny!

[2019-04-01 12:24] #60 closed

[2019-04-01 19:39] etherny opened #61 "v0.10 : KeyNotFoundException: The given key was not present in the dictionary."
I receive a key not found at https://github.com/colyseus/colyseus-unity3d/blob/master/Assets/Plugins/Colyseus/Serializer/Schema/Schema.cs#L335

I added logs to this file :
Each fields created at https://github.com/colyseus/colyseus-unity3d/blob/master/Assets/Plugins/Colyseus/Serializer/Schema/Schema.cs#L295

And log 335 line too.

Schema try to get an index not listed in 275 lines logs.

Try to ge

[2019-04-01 19:45] etherny commented on #61
@endel hi, it's not possible to share the project, but if you have a little time we can try do debug it remotly ?
You have my email, send me your availability.
I m blocked.

[2019-04-01 19:52] endel commented on #61
@etherny sent you an email. It might be a misusage of the schemas on the server-side, or really a bug in the C# decoder. I'd like to take a look. Cheers

[2019-04-01 20:15] etherny commented on #61
here the Schema backend structure

Le lun. 1 avr. 2019, à 15 h 52, Endel Dreyer <notifications@github.com> a
écrit :

[2019-04-02 02:30] etherny commented on #61
@endel hi, i found the problem.
I m using a custom UUID generation and the method do not return a supported type.
Now i m using generateId from Colyseus, and it works.
Perhaps rise an exception server side when an unsupported value type fill a field.

[2019-04-02 02:30] #61 closed

[2019-04-02 02:31] endel commented on #61
@etherny phew, glad you figured it out. Yeah definitely need to check the types on runtime. Thanks a lot!

[2019-04-02 02:38] etherny opened #62 "v0.10 : Strange behaviour in nested Schemas"
Hi, i using 3 level nested structure :
Player --> Camp --> Position
Where camp is just a name/position
and Position is a vector of 3 floats

At the first player connection, all works fine.
But if i leave the room (it disposed : normal behaviour), and join a new one roomthen camp position is wrong (0,0,0).

If a restart the server, the first connection give me the good one camp position, and others

[2019-04-02 02:44] etherny commented on #62
[code]
[code]
[code]

[2019-04-02 02:47] etherny commented on #62
I m reading player.camp.home in this delegate method :
room.State.players.OnAdd += playerManager.OnAddPlayer

[2019-04-02 03:08] etherny commented on #62
I m using point Schema in other nested places and it works fine.

[2019-04-02 03:37] endel commented on #62
Thanks a lot for your inputs @etherny, I'm going to check this tomorrow (already quite late for me here)

BTW, I've already published a new version of `@colyseus/schema` that validates invalid data on strings and numbers.

[2019-04-02 16:37] etherny opened #63 "v0.10 : OnAdd with extended Schema"
Hi, i have a class A who contains a MapSchema of classes B.

[code]
When i add an element in MapSchema OnAdd is triggered (normal behaviour)

If i extend B with a C class :

[code]

OnAdd is triggered with B type instead of C.

Debug :

[code]

Notes : all classes are generated and heritance too, C is see as B by c# compilator

[2019-04-02 17:34] etherny opened #64 "v0.10 : nested schema in heritanced class"
[code]

- In c# : After OnAdd on "children" field, add an OnChange event on "count" field : B.cound.OnChange+= ....
- In backend : Increment the field "count" from class B => works
- In backend : Increment the field "count" from class C => onChange not triggered

Note : perhaps linked to https://github.com/colyseus/colyseus-unity3d/issues/63
In the old version of colyseus (fossil) B or C had the g

[2019-04-02 18:15] etherny commented on #62
Perhaps a static or cached data in Schema, i do not understand why after server restart then point have good data. Room disposed as expected after unity quit.

[2019-04-02 18:18] endel commented on #62
hey @etherny, I think this problem comes from expecting that `OnChange` is going to be called right upon its registration. The thing is that it is called only after a change has been made. The correct value may already be accessible in the state, but the callback wasn't triggered.

Let me know if that's the case for you. I'd like to provide some API for triggering existing data as changes, just no

[2019-04-02 18:20] etherny commented on #62
I m reading directly the value of player.camp.home after OnAdd player in state.

[2019-04-02 20:59] endel commented on #62
hi @etherny, I've tried to reproduce this issue, do you mind checking the [branch `issue-64`](https://github.com/colyseus/colyseus-unity3d/tree/issue-64) when you have some time?

I've basically modified the sample project to include the same structures as you described here.

To test, you can:
- start the server, run the client
- click on "Connect"
- click on "Join Room"
- click a few times on "S

[2019-04-02 21:02] endel commented on #62
The method to update the cube position is here: https://github.com/colyseus/colyseus-unity3d/blob/issue-64/Assets/ColyseusClient.cs#L164-L174

[2019-04-02 21:10] etherny commented on #62
i will check the code and compare it to mine, the only one different user action than mine, is the leave/rejoin instead of restart completly the game.

[2019-04-03 03:19] etherny commented on #62
@endel hi, i tested your branch and all works (even after restart of the unity scene), i will check my code to compare.
Thank you again.
Will back to you tomorrow.

[2019-04-03 14:23] etherny commented on #62
@endel i found !

Add a const camp in you project, and use it in player :

[code]

In unity join, leave and join again (not re-join)

I added a debug log in OnPlayerAdd c# method too :
`
Debug.Log("Initial camp position x: " + item.Value.camp.position.x + ", y: " + item.Value.camp.position.y + ", z: " + item.Value.camp.position.z);`

I don't know why, but the first time to camp position is good, a

[2019-04-03 14:30] endel commented on #62
@etherny I see, glad you figured it out. Not sure how to express this in the docs, but you shouldn't really re-use instances to be encoded more than once in the schema.

Each `Schema` object has an internal list of changes, so if anything has changed in your constant `BLUE_CAMP`, it won't be serialized in the next patch.

[2019-04-03 14:36] etherny commented on #62
Is it possible to have a copy or clone method on Schema ?
It could be a good practice to use constants.

If not, please add documentation warning around Schema as constant.

[2019-04-03 14:36] #62 closed

[2019-04-03 14:39] etherny commented on #63
Not yet supported accordly with https://github.com/colyseus/schema/issues/8#issuecomment-479176898

[2019-04-03 14:39] #63 closed

[2019-04-03 14:39] etherny commented on #64
Not yet supported accordly with colyseus/schema#8 (comment)

[2019-04-03 14:39] #64 closed

[2019-04-03 14:49] endel commented on #62
Sounds good! I've added a `.clone()` method on `@colyseus/schema@0.4.18`. Thanks @etherny

[2019-04-04 14:14] endel opened #65 "Improve async/await/coroutine usage API"
Suggestion by @Wenish from [Discord](https://discord.gg/RY8rRS7)

[code]

[code]

[2019-04-18 12:34] endel commented on #24
This is currently possible with the new schema serializer, states have a strict type defined: https://docs.colyseus.io/state/schema/#client-side-schema-generation

[2019-04-18 12:34] #24 closed

[2019-04-18 12:35] endel commented on #48
This shouldn't happen anymore using the new schema serializer: https://docs.colyseus.io/state/schema/

[2019-04-18 12:35] #48 closed

[2019-04-20 03:36] PainterPuppets opened #66 "don‘t work GetAvailableRooms in example scene？"
i have try add GetAvailableRooms to example scene, but i get this error ,can someone help me ?
![image](https://user-images.githubusercontent.com/22258327/56451723-ba4a8680-635f-11e9-9e57-e450a20fd6ff.png)

this is my code
![image](https://user-images.githubusercontent.com/22258327/56451761-e0702680-635f-11e9-9e14-ecff6d140841.png)

[2019-04-20 04:10] PainterPuppets commented on #66
i perhaps understand this bug reson, this is because RoomAvailable's maxClients type is unit , but this default value is Infinity.
i dont think this reasonable
![image](https://user-images.githubusercontent.com/22258327/56452474-ca646500-6363-11e9-8593-b2d5b4f63da1.png)

[2019-04-21 14:45] ChristianIvicevic opened #67 "Room.OnStateChange possibly has a behavior you might not have intended in the first place"
This time I stumbled upon some unexpected behavior in the client library for Unity. In my sample I want to store the previous X states that the server returns to the client in order to interpolate between states. Hence I wrote the following (simplified) handler:

[code]
It turns out that this handler it not getting a copy of each new state but the reference to the current state **every single time

[2019-04-21 14:55] endel commented on #67
Hey @ChristianIvicevic, it is actually intended to have a reference of the state and not the full copy of it. The FossilDelta serializer actually will produce a full copy of the state, and that has proven to be an overhead to the client.

I'd recommend using `OnChange +=`, and using the `change.Value` / `change.PreviousValue` available there. (https://docs.colyseus.io/state/schema/#onchange-change

[2019-04-26 01:05] ChristianIvicevic commented on #67
Thank you for clarifying this, closing this issue.

[2019-04-26 01:05] #67 closed

[2019-05-10 03:29] napbla opened #71 "CompareTypes function does not work for ArraySchema of Primitive types like uint8..."
Environment: unity 2018.3.12f1, .Net 4x
SchemaSerialize.cs

The bug is due to reflectionField.type is 'array:uint8' while typedField.FieldType is 'array' so it can not match schemaType. Although they are the same. Hence it will output "Local schema mismatch from server. Use \"schema-codegen\" to generate up-to-date local definitions."

[2019-05-10 03:31] endel commented on #71
@napbla I've just created a pull-request that's supposed to fix this:
- https://github.com/colyseus/colyseus-unity3d/pull/70
- https://github.com/colyseus/schema/pull/21

[2019-05-11 15:40] endel commented on #71
This has been fixed on [0.10.5](https://github.com/colyseus/colyseus-unity3d/releases/tag/0.10.5)! 🎉

[2019-05-11 15:40] #71 closed

[2019-05-20 11:50] bartwttewaall opened #72 "List<object> warning in Compare.cs"
Plugins/Colyseus/StateListener/Compare.cs(60,8): warning CS0184: The given expression is never of the provided ('List<object>') type

I've replaced "obj is List<object>" on line 60 with a new method "IsList (obj)" which solves the warning. Haven't tested and no PR.. Sorry, I'm on a deadline ;)

[code]

[2019-05-20 21:34] endel opened #73 "need better error message when using the wrong schema class in the state"
reported by **aboogoost**  on Discord:

`protected Room<State> room;`
becomes:
`protected Room<Entity> room;`
And you'll need to remove the event handlers that will be causing errors.
So the server is using `State` and the client is using `Entity` which isn't something you should do but the error message gives nearly zero indication as to what the problem is.

[2019-05-21 13:56] endel commented on #66
I've added a workaroud for this (https://github.com/colyseus/colyseus-unity3d/commit/2bfc3f61a894bb79580bccb22df528441ef88499). Thanks for reporting!

[2019-05-21 13:56] #66 closed

[2019-05-28 19:02] endel opened #74 "use System.Net.WebSockets instead of WebSocketSharp dependency"
https://docs.microsoft.com/en-us/dotnet/api/system.net.websockets?view=netframework-4.8

[2019-06-02 11:46] smkplus opened #75 "Document is bullshit"

[2019-06-02 12:59] endel commented on #75
Hi @smkplus, I've forgot to update the `.Join<T>()` docs in [Getting Started](https://docs.colyseus.io/getting-started/unity3d-client/).

I encourage you to take a look at the sample project on this repository: https://github.com/colyseus/colyseus-unity3d/blob/master/Assets/ColyseusClient.cs#L78

You can open `Assets/ExampleScene.unity`, while having the local `Server/` running on your machine to

[2019-06-03 15:39] smkplus commented on #75
thanks I just change the servername and works like charm!
![image](https://user-images.githubusercontent.com/16706911/58814676-69ef6580-863b-11e9-9da0-f5d7af8c3070.png)

[2019-06-09 21:01] geeksesi opened #76 "join in room will execute init every time"
hi,
i have problem with Unity client.
i have this server : https://github.com/geeksesi/FarmServer
server has 1 room.. name farm
when i test with javascript for connect to the server onInit will execute one time ( when first player will join )
but when i try to do with unity. every time i run game to test initalize will execute.
just i tried with this code on unity (it's just a copy of your code fr

[2019-06-11 13:29] endel commented on #76
Hi @geeksesi,

What do you mean by "initalize will execute"? Is it the `onInit()` from the room handler?
If you need your rooms to not be removed automatically when the user disconnects, you can set `this.autoDispose = false`, then `onInit` will run only for the first client joining the room.

Cheers

[2019-07-27 19:05] MateusMendesSantana opened #81 "Bug: replacing "ws" with "http" in uri modifies access token"
`if (HasToken) query["token"] = Token;`
Auth.cs, line 249
`// FIXME: replacing "ws" with "http" is too hacky!
req.url = uriBuilder.Uri.ToString().Replace("ws", "http");`

client token:

has been replaced by:

[2019-07-27 19:26] endel commented on #81
Really well-observed @MateusMendesSantana, I think we can use a `ReplaceFirst` instead to prevent this from happening, like:

[code]

[2019-07-31 23:39] MateusMendesSantana commented on #81
Thank you @endel. Could be, I just did it:
`req.url = uriBuilder.Uri.ToString().Replace("ws://", "http://");`
I think the right thing would be to fragment the URI, separate the protocol, address and port. Mount the URI on request only

[2019-07-31 23:41] endel commented on #81
@MateusMendesSantana sounds better indeed! I'd gladly merge if you don't mind sending a PR <3

[2019-08-02 17:39] etherny opened #82 "Upgrade to 2019.2.0f1 : 'HttpUtility'"
Upgrade to new unity version cause Assets\Plugins\Colyseus\Auth.cs(109,16): error CS0103: The name 'HttpUtility' does not exist in the current context

[2019-08-03 14:52] endel commented on #82
Thanks @etherny, I've checked and `HttpUtility` is only used on `colyseus-unity3d` to generate query strings:

[code]

The `HttpUtility` class returns a type of `NameValueCollection`, which implements an overriden `ToString()` method that turns the `NameValueCollection` into a query string. (see [mono source code](https://github.com/mono/mono/blob/e70ac8c6ae7ff3f03517be90babb8f7c25d18b97/mcs/class

[2019-08-03 15:20] etherny commented on #82
Using WebUtility equivalent ?

[2019-08-04 04:28] chsqn commented on #74
Is this client used for real games?
I found that OnOpen and OnClose are in different threads.
I check out websocket-sharp.dll with ILSpy.
ConnectAsync() uses BeginInvoke()/EndInvoke() as below:
[code]
It seems like all events occur in different threads.
I check out the thread id with
[code]
And even I use Connect instead ConnectAsync, OnMessage is still not in the main thread.
I also look at the e

[2019-08-04 13:54] #82 closed

[2019-08-04 14:00] #81 closed

[2019-08-04 14:05] endel commented on #72
This has been fixed by @Wenish on https://github.com/colyseus/colyseus-unity3d/pull/78, thanks @bartwttewaall

[2019-08-04 14:05] #72 closed

[2019-08-06 04:24] endel commented on #74
hi @chsqn, I've made a big pull-request to remove WebSocketSharp completely today, please feel free to give some feedback there! https://github.com/colyseus/colyseus-unity3d/pull/83

[2019-08-23 02:04] #74 closed

[2019-08-23 15:31] endel opened #84 "Possible alternative to GameDevWare.Serialization.MsgPack"
The number of questions that pops up on Discord about sending and receiving msgpack messages in Unity shows that the current msgpack library is a bit hard to use and understand (https://github.com/deniszykov/msgpack-unity3d)

[This library](https://github.com/neuecc/MessagePack-CSharp) might be a good alternative, the authors are working on a new version of it - would be nice to test it when the n

[2019-08-27 06:17] rnd256 opened #85 "`room.OnstateChange` sometimes isn't called with the initial state in `v0.11`"
`room.OnstateChange` sometimes isn't called with the initial state in `v0.11`. I can reproduce this about 10% of the time in the Unity client. Subsequent state updates do correctly result in calls to `room.OnstateChange`.

I have a feeling that this may be due to the fact that `room.OnstateChange` can no longer be configured before the room is actually connected (in `v0.11`).

In the cases where `

[2019-08-29 02:38] mobyjames opened #86 "Null reference exception when ArraySchema size reduced"
Please see my fork for example of the issue: 91494e35b30b57f4ee30e98dd135f34cf8ec6eee
[code]

[2019-08-29 03:42] #86 closed

[2019-08-29 03:44] endel commented on #86
Thanks for reporting @mobyjames! The `ArraySchema` has been changed recently to use a `Dictionary` internally instead of a `List`, that's why the casting wasn't working anymore: https://github.com/colyseus/colyseus-unity3d/commit/b2b9bfff1dbb8058f5e3059c56447c35db0341fa

[2019-09-04 23:30] mobyjames opened #87 "OnAdd + OnRemove not reliably called"
Please see latest in this repro for example:
https://github.com/mobyjames/colyseus-unity3d

Steps:

1. Start server
2. Start Unity project
3. Connect
4. Create Room
5. Send Message

This triggers the server to add a couple numbers to the array

Expected: OnAdd is called- it is not

A few seconds later, the server will remove these items

Expected: OnRemove is called for each- it's only called for

[2019-09-04 23:36] mobyjames commented on #87
Oddly, if I convert the field to `ArraySchema<string>` the onAdd method fires, but the issue with onRemove remains. It only fires for the first removed item.

[2019-09-05 03:01] endel commented on #87
The `OnRemove()` issue was a silly mistake during the remove loop: https://github.com/colyseus/colyseus-unity3d/commit/f8ec63558470fdf9a7a90532daa881561b557d82

Apparently the `OnAdd()` wasn't triggering because of the check for new keys in the Dictionary (https://github.com/colyseus/colyseus-unity3d/commit/c7f9cbcdedc0aef93e8c36d3026aeca8862a7276). The `currentValue[newIndex]` returns `default(in

[2019-09-05 14:12] #87 closed

[2019-09-26 15:03] endel opened #89 "Proposal: Allow to send data to the room using a custom Serializable instance"
It would be nice to allow using custom Serializable structures to send data to the room.

**Example:**

[code]

[2019-10-01 14:51] ADustyOldMuffin commented on #89
I'd be interested in working on this if it's still open.

[2019-10-01 14:54] endel commented on #89
Hi @ADustyOldMuffin, nice. Feel free to send a PR 🤗

[2019-10-05 23:53] MateusMendesSantana opened #91 "joinOrCreate is not calling OnJoinHandler"
OnJoin happening before we have a chance to assign subscriptions
[code]
OnJoinHandler will not be called
[code]

[2019-10-06 03:12] endel commented on #91
Hi @MateusMendesSantana, this is a recent change - you don't need to use `OnJoin +=` anymore, since the `.JoinOrCreate()` method will only return the room instance after `OnJoin` has completed internally.

[2019-10-07 10:03] Wenish opened #92 "release package just what is needed"
It would be nice. If in the github releases there would be a zip with only the relevant files.
Afaik it only needs the plugins folder.
So a developer can just download this folder then the hole source. and search the plugins manually.

im willing to do this. but im not sure how the CI/CD on this project works if there is any?

[2019-10-07 10:53] endel commented on #92
Hi @Wenish, I love this idea. There aren't any CI/CD currently on `colyseus-unity3d`. I just searched and it seems this is what we need https://github.com/kevinta893/unity3d-travis-ci

It would be awesome if you make a PR for this! ❤️

[2019-10-07 11:01] Wenish commented on #92
@endel what are the things you do atm before release?

[2019-10-07 11:06] endel commented on #92
@Wenish I currently check inside the editor if the tests are passing (for simplicity sake, we can skip `TestConnection` for now, since it needs a sample server to be running, we can spawn a server later on I think!)

![Screenshot 2019-10-07 at 08 04 43](https://user-images.githubusercontent.com/130494/66306862-294d7480-e8d9-11e9-8d23-08579809cc2a.png)

[2019-10-07 14:03] Wenish commented on #92
@endel is it important for you that the pipeline is on travis?
i tried it multiple times. (i also know the repo you linked) but the problem is there that it lacks the support for downloading the correct unity version. so on every unity update it would need a change in the .travis file with the new download url from unity. or if the download link breaks. (because unity changes it) the pipeline brea

[2019-10-07 14:10] endel commented on #92
Hey @Wenish, if it's easier to set this up on another open-source friendly CI, let's go for it! (I didn't know about this until now 😅 https://azure.microsoft.com/en-us/blog/announcing-azure-pipelines-with-unlimited-ci-cd-minutes-for-open-source/)

does it only needs a local server?
because imo this should also work pretty straight forward on a build agent

Yes, only a local server is needed! I men

[2019-10-14 15:36] #91 closed

[2019-11-26 13:36] endel opened #101 "Create `.unitypackage`"
By having an `.unitypackage` file users can download the sources & install more easily by double-clicking the `.unitypackage` and installing without the need to copy the client files into their project manually

[2019-11-27 07:48] Cariaga opened #102 "Local schema mismatch from server. Use "schema-codegen" to generate up-to-date local definitions."
`room = await client.Create<State>(roomName, new Dictionary<string, object>() { });`

[2019-11-27 09:25] Cariaga commented on #102
`npx schema-codegen rooms/02-state-handler.ts  --csharp --output rooms/`
`https://www.npmjs.com/package/@colyseus/schema`

[2019-11-27 09:25] #102 closed

[2019-12-02 13:06] endel commented on #51
As of `0.11.4`, it is possible to retrieve the metadata from the client-side by defining a custom `RoomAvailable` + `Metadata` types.

**Example:**

[code]

[code]

---

The metadata comes from a JSON response from the server. Unfortunately, the built-in `JsonUtility` from Unity has limitations regarding the usage of generic types, making it necessary to create a new type having its own hardcoded

[2019-12-02 13:06] #51 closed

[2019-12-16 13:20] stats opened #103 "IndexOutOfRangeException when inserting and deleting same MapSchema element in same patch"
An IndexOutOfRangeException is thrown when an element is added and removed from MapSchema in the same patch.

A minimal example of this behaviour can been seen here: [Test case for index outside bounds](https://github.com/stats/colyseus-unity3d/tree/test-case-for-index-outside-bounds)

The error boils down to adding an enemy
[code]
and then most likely in the same patch removing the enemy in the u

[2019-12-21 15:37] endel commented on #103
Hi @stats, could this be a `@colyseus/schema` versioning issue? I've just tried your use case and it didn't seem to throw the error for me.

@knowuh reported on Discord that he was having this issue with the unity3d example project, and after upgrading the `@colyseus/schema` version the error was gone. (`rm -R node_modules package-lock.json && npm install`)

[2019-12-21 15:41] endel commented on #103
(I do see the error! sorry, gonna investigate 🙈 )

[2019-12-23 18:02] endel commented on #103
[This change](https://github.com/colyseus/schema/commit/086eaac8ab48c4424468b702aa91b1931321f199) has caused regression and I had to revert it. The test case now includes another assertion which is now breaking.

Basically, this was passing:

[code]

And this was breaking: (item `"one"` was not being encoded as a delete)

[code]

[2020-01-11 17:52] aedbrault opened #105 "General Issue for WEBGL app multiplayer"
Hi i search a lot but not found any good solution for it , that's why i com to you guys to found some.
I have problems with sync in multiplayer game when people switch of tab , the game turn slow / or not continue to work ( loading stop to load etc... )  until switch back on the right tab.
Thanks a lot for reading my issue and hope someone can help

[2020-01-11 18:12] endel commented on #105
This happens to any game project compiled with emscriptten. The game loop uses `requestAnimationFrame()`, which runs only when the tab is active.

I've posted a similar question in the Defold forum recently: https://forum.defold.com/t/html5-game-loop-when-tab-is-not-focused/49406

I don't think this is something that can be circumvented. We just have to deal with it.

[2020-01-11 18:12] #105 closed

[2020-01-19 00:05] GameDevBhavesh opened #106 "unity crashed when sending location data to server with room .send"

[2020-01-26 19:41] endel commented on #85
Hi @rnd256, this issue is probably fixed on version `0.12`. Now the server is waiting for the client to acknowledge the `JOIN_ROOM` to send the first full state - and then the patches. Let me know if version `0.12` fixes this for you! Cheers!

[2020-02-01 19:36] rnd256 commented on #85
Updated to `0.12`, and looks like I can't repro this issue anymore. Cheers!

[2020-02-01 19:36] #85 closed

[2020-02-05 03:52] CocosGames opened #107 "Does it support Unity Project Tiny?"
Can I use it on instant games?

[2020-02-05 03:54] CocosGames commented on #107
Can I use it on instant games?

[2020-02-05 11:39] endel commented on #107
Hi @CocosGames, I've never used Unity Tiny, I imagine it does support. If the client compiles with Unity Tiny, it should work.

[2020-02-06 04:09] CocosGames commented on #107
Thank you for the answer.

[2020-02-06 04:09] #107 closed

[2020-02-22 07:15] NakOh opened #108 "I find bug with FossilDeltaSerializer.."
colyseus-unity3d/Assets/Plugins/Colyseus/Serializer/FossilDeltaSerializer.cs

   public void SetState (byte[] encodedState, int offset) {
            State.Set (MsgPack.Deserialize<IndexedDictionary<string, object>> (new MemoryStream (
                ArrayUtils.SubArray (encodedState, offset, encodedState.Length - 1)
            )));
            // previousState = encodedState;   -> Fixed it!

[2020-02-22 12:26] NakOh opened #109 "Maybe Fossil.Apply Bug. (It could be a server's fossil_delta_1 problem.)"
![image](https://user-images.githubusercontent.com/7420198/75092197-e0146d80-55b8-11ea-846b-98fda6da5503.png)

This code, I understood it as updating the changes from the previous information.

But
I Use Colyseus version is 0.12.0 and client Colyseus Version is latest.

I have

Game State

    roundNo: number = 0;
    phase: SharedTypes.Phase = SharedTypes.Phase.Waiting;
    maxBetSeats: number =

[2020-02-22 12:28] NakOh commented on #109
JsonSerializationException: Unexpected token readed 'EndOfStream' while 'BeginObject' is expected.
GameDevWare.Serialization.Serializers.ObjectSerializer.Deserialize (GameDevWare.Serialization.IJsonReader reader) (at Assets/Plugins/GameDevWare.Serialization/Serializers/ObjectSerializer.cs:69)
GameDevWare.Serialization.JsonReaderExtentions.ReadValue (GameDevWare.Serialization.IJsonReader reader, Sy

[2020-02-22 12:30] NakOh commented on #109
![image](https://user-images.githubusercontent.com/7420198/75092393-63828e80-55ba-11ea-9428-ed70804e62f6.png)

ObjectSerializer. But token is EndOfStream.

[2020-02-22 13:42] endel commented on #109
Hi @NakOh, wouldn't it be easier to use the schema serializer instead? It performs much better than Fossil Delta.

(This bug must've slipped on 0.12.x due to the [protocol changes](https://github.com/colyseus/colyseus/releases/tag/0.12.0))

[2020-02-22 13:46] NakOh commented on #109
@endel  Yeah. I Know that.

Already new projects are using the schema serializer.

But This project was built before the schema serializer.

And the game must be released soon.

So I need to modify it to work in its current state.

If you can provide technical support, I will pay for it.

[2020-02-22 13:51] endel commented on #109
Oh, I see. I've just sent you an email to the address listed on your GitHub profile.

[2020-02-22 20:10] endel commented on #108
Thanks @NakOh, I've applied a similar fix here: https://github.com/colyseus/colyseus-unity3d/blob/master/Assets/Plugins/Colyseus/Serializer/FossilDeltaSerializer.cs

[2020-02-22 20:10] #108 closed

[2020-02-22 20:11] endel commented on #109
I believe this issue has been fixed on latest version https://github.com/colyseus/colyseus-unity3d/blob/master/Assets/Plugins/Colyseus/Serializer/FossilDeltaSerializer.cs

Please let me know if you still have any problems with it!

[2020-02-29 03:05] endel commented on #89
Implemented here https://github.com/colyseus/colyseus-unity3d/commit/1954d98aa47caaec2b17d40e6fed2408a189ebb4#diff-71c9fc0505f323e7aa448bcafd028c94R31

[2020-02-29 03:05] #89 closed

[2020-03-05 01:06] Wenish opened #111 "https support for HTML5 builds"
We should fix those lines:
[code]

[2020-03-05 01:13] endel commented on #111
Hi @Wenish, if you provide `"wss://"` in your endpoint, it should be properly replaced with `"https://"`.

I agree that for HTML5 builds, it would be nice to auto-detect if the page is under `https` to automatically use wss/https in the endpoints.

[2020-03-05 01:27] Wenish commented on #111
should do the job for now

[2020-03-05 01:27] #111 closed

[2020-04-04 13:03] endel opened #113 "0.13.0: Type-safe message decoding by type"
As version `0.13.0` is mostly ready on the server-side, I'd like to document the progress on the C#/Unity version of it.

The current problem I'm facing in the C# implementation is decoding MsgPack messages coming from the server, by using a provided Generic type.

It is planned to allow doing this on C# as of `0.13.0`

[code]

The major issue to allow this is the C# structures involved in [storin

[2020-04-07 16:42] jcjveraa opened #114 "Unity fatally crashes when using class implementing Schema as property"
When I use a class in unity generated by the colyseus codegen tool, unity crashes to desktop if I use the generated clas as a property with a getter/setter and I try to immediately register the onChange event to a listener, it crashes Unity to desktop.

I use Unity 2019.3.7f1, and behavior is consistent - also with other classes deriving from Schema.

[code]

Classes:
[code]
Working fine
[code]
Sh

[2020-04-22 13:30] #113 closed

[2020-04-22 19:24] endel commented on #84
No need to upgrade so far, the current library is actually great ❤️

[2020-04-22 19:24] #84 closed

[2020-04-22 20:49] gioragutt commented on #114
I think it's because you have an infinite loop here 😅the name of the property is `tile`, which is also what your return in the getter.

C# property names should be `UPPER_CASE`, and should be backed by a private field.

[2020-04-23 06:40] jcjveraa commented on #114
... Good point. Had not been doing C# for a while. Weird that the
compiler/linter does not see this and that in runtime it causes unity to
completely crash rather than throwing some 'too many references' error.

I guess this can be closed :)

Op wo 22 apr. 2020 22:50 schreef Giora Guttsait <notifications@github.com>:

[2020-04-23 08:23] endel commented on #114
Nice, good catch @gioragutt, gonna close this, then :)

[2020-04-23 08:23] #114 closed

[2020-04-26 20:09] MateusMendesSantana opened #116 "WaitForBackgroundThread crash some methods on Unity"
Hi, i am migrating my project to version 13.0. I think this addition is generating some errors in unity, in functions that need the _Main Thread_.
WebSocket.cs, method Receive
`await new WaitForBackgroundThread();`
I got the error:

and

after removing the line the errors simply stopped.

[2020-04-26 20:14] endel commented on #116
Interesting! Thanks for reporting back @MateusMendesSantana, do you have any thoughts @AJ92? 👀

[2020-04-26 22:34] AJ92 commented on #116
yep interesting, i did not switch to the new version yet. @MateusMendesSantana, can you post the full callstack for the exception?

[2020-04-27 23:50] MateusMendesSantana commented on #116
Hi. of course!
tracecode after being re-released on OnError:
[code]
Before:
[code]
Oops. I forgot to mention that this problem only occurs after leaving the room.

[2020-04-28 00:03] AJ92 commented on #116
hehe, the last sentence is probably the most important here :)
i guess there are messages queued, that are processed after the client left the room. should be easy to fix 👍
could take a look at it tomorrow or so.

[2020-04-28 22:55] AJ92 commented on #116
The Receive() Task runs in the background thread and invokes onClose which is calls unity functions and those should not be called from other threads. Maybe it is better to put the whole Receive function into a Thread and then just return the error code to invoke the onClose function.

I might raise a PR tomorrow.

[2020-04-29 09:32] endel opened #117 "Android build: Add some guide to the documentation"
Not really sure where to put this - @eeveeboo has made a script to make HTTP/Websockets work on Android here: https://gitlab.com/snippets/1971642

If anyone is having trouble targetting Android this can be helpful:

**Keywords** android manifest, android build, oculus sdk

[code]

[2020-05-13 00:33] MateusMendesSantana opened #120 "Allow to specify the protocol (SSL)"
Hi. When I'm doing development tests I use http and ws protocols, but when deploying to production I have the need to connect to the server using https and wss. Maybe the best solution would be to separate into two URIs, one for the API and one for the GameServer.
I am available to send a PR.

tks.

[2020-05-17 00:57] MateusMendesSantana opened #121 "BUG on splice ArraySchema"
Hi. When I remove items in my ArraySchema the OnAdd and OnRemove events are called on my Unity client. OnRemove executes correctly, but OnAdd (which should not even be called) returns empty values and ArraySchema now has incorrect values.
I modified the Decode function in the Schema.cs script and managed to solve this problem, could you take a look?
[code]

[2020-06-20 22:43] rnd256 opened #124 "Release v0.13.2 won't compile due to an extra brace in ArrayUtil.cs"
This was fixed 19 days ago by https://github.com/colyseus/colyseus-unity3d/commit/b61fb4936cb0be7679e6352b824bc15f2a1eaaef, but should be included in a new release.

[2020-06-20 23:18] endel commented on #124
Thanks for noticing @rnd256, just released it here https://github.com/colyseus/colyseus-unity3d/releases/tag/0.13.3

[2020-06-20 23:18] #124 closed

[2020-07-03 02:58] kevincastejon commented on #121
Same issue here, but the OnRemove is not pointing on the right index nor item.
On a 5 items array, if I remove the first one the OnRemove callback params will be the last item and the last index, then 4 OnAdd will be called back with empty item.
I've made a simple repo to reproduce this here :
https://github.com/kevincastejon/colyseus-unity3d-arrayschema-issue

[2020-08-09 22:18] rnd256 commented on #106
You'll need to provide more information than that if you want help

[2020-08-10 02:43] rnd256 commented on #101
Does double-clicking a `.unitypackage` support auto-deleting the old version of a package in your Unity project before importing the newer version? If so, that would be handy for upgrades.

[2020-08-10 04:45] rnd256 opened #125 "Race condition with `onAuth()` rejection"
If the Colyseus server's room throws a custom application error or returns false from `onAuth()`, the Colyseus Unity client sometimes hangs and gets no response.

eg. The below Unity client snippet sometimes never prints either of `"Joined room successfully"` or `"Error joining room"`.

[code]

With the server snippet:

[code]

Colyseus Unity client version: 0.13.2
Colyseus Unity server version: 0

[2020-08-10 04:46] rnd256 commented on #125
@AJ92 or @chsqn, can you comment on if you think your PRs are related to this?

[2020-08-10 05:20] chsqn commented on #125
Could you make sure the issue still occurs if server alway return false at OnAuth()?

[2020-08-12 18:18] AJ92 commented on #125
could be the case that the PRs fix this

[2020-09-02 23:22] rnd256 commented on #125
I just tested it, and https://github.com/colyseus/colyseus-unity3d/pull/119 fixes this issue (see https://github.com/rnd256/minimal-colyseus/tree/onauth-rejection-race-condition-patched).

I hope we can push that fix through.

[2020-09-03 19:02] endel commented on #125
Thanks for taking the time to check and create the reproduction repository @rnd256, I did merged #119, not sure this will introduce delays as mentioned by @AJ92 on #118 though, as we currently don't have unit testing for this type of thing on the client.

I'd appreciate if you can already use 0.14 alpha, and report back if you have any issues: https://github.com/colyseus/colyseus-unity3d/releases/

[2020-09-03 20:23] AJ92 commented on #125
I guess both solutions work more or less the same way, one ( #119 ) introduces new code, but changes less of existing code, the other solution ( #118 ) removes code but changes a bit more of existing code.

[2020-09-03 23:38] rnd256 commented on #125
FYI I didn't mean to indicate that I thought one of #118 and #119 was better than the other. #119 just happened to be the one I tested.

@endel unfortunately I'm not well-equipped to measure latency either (my game is not particularly latency-sensitive). Or were you just asking that I verify that the alpha branch fixes this bug?

[2020-09-04 09:33] chsqn commented on #125
#119 refers to [Unity3dAsyncAwaitUtil](https://github.com/svermeulen/Unity3dAsyncAwaitUtil). Its [blog](http://www.stevevermeulen.com/index.php/2017/09/using-async-await-in-unity3d-2017/) mentions that
[code]
The following code also displays the same thread id.
[code]
This means that #118 runs everything in the main unity thread.
If it is so, we can just comment out the line as below to fix the th

[2020-09-08 21:10] IlyaVorozhbit opened #129 "Not obviously: I need restart server, when getting message "Local schema mismatch""
Hi!

I have added a few schema's to project, and when I tried to connect to server got an error, so I should use npx schema-codegen. I used it in another tab, and expected behaviour: it should work. But no, but when I terminated the server and start it again - problem disappear.

Its expected, that I need restart it? Can I open new PR, or I dont understand something?

Thanks

ps. line in code:
htt

[2020-10-10 16:37] rnd256 commented on #125
Friendly ping

[2020-10-10 16:43] endel commented on #125
Hi @rnd256, is this still an issue for you using the code on branch `master`?

[2020-10-11 23:17] rnd256 commented on #125
@endel I've verified that the current master branch resolves this issue:
https://github.com/rnd256/minimal-colyseus/tree/onauth-rejection-race-condition-2020-10-11-master-branch

(I can't comment about performance though, which is something you were worried about before)

[2020-10-12 23:07] endel commented on #125
Thanks for confirming, let's close this for now, then :)

[2020-10-12 23:07] #125 closed

[2020-10-20 22:38] endel commented on #120
A related issue has been brought up in the `colyseus.js` client: https://github.com/colyseus/colyseus.js/issues/68

I think we could come up with an API for all clients in the next version. Something like:

- `new Client({ host: "some-endpoint.com", port: 2567, secure: false })`
- `new Client("ws://some-endpoint.com:2567", { secure: false })`

I'm considering JavaScript for these API's, ideally we

[2020-10-20 22:41] endel commented on #121
Fixed on 0.14 🎉  https://github.com/colyseus/colyseus/releases/tag/0.14.0

[2020-10-20 22:41] #121 closed

[2020-10-20 22:42] bcdbuddy commented on #120
I like `new Client({ host: "some-endpoint.com", port: 2567, secure: false })`

[2020-10-20 22:47] endel commented on #116
https://github.com/colyseus/colyseus-unity3d/pull/119 should have fixed this! Please feel free to re-open this issue if the problem persists :pray:

[2020-10-20 22:47] #116 closed

[2020-10-20 22:48] #73 closed

[2020-10-20 22:48] #109 closed

[2020-10-20 22:49] endel commented on #106
Closing as there's no enough information to inspect the problem, feel free to re-open if you still have this problem!

[2020-10-20 22:49] #106 closed

[2020-10-20 22:52] endel commented on #129
Hi @IlyaVorozhbit, yes, ideally you should restart the server every time you make a change on it. On the latest `create-colyseus-app` templates I've added the `ts-node-dev` tool which does that automatically for you:

Install the `ts-node-dev` package:

[code]

Use it as your `start` script:

[code]

[2020-10-20 22:52] #129 closed

[2020-10-20 22:53] endel commented on #103
This has been finally fixed on 0.14! 🎉 https://github.com/colyseus/colyseus/releases/tag/0.14.0

[2020-10-20 22:53] #103 closed

[2020-10-20 22:54] endel commented on #41
So far I've received zero interest from the MonoGame community, so it's not worth the effort.

[2020-10-20 22:54] #41 closed

[2020-11-13 09:48] tonygiang opened #130 "Official API only provides 1 way to enable real-time listing"
Edit: wrong repo.

[2020-11-13 09:56] #130 closed

[2020-12-01 11:38] endel opened #131 ""Local schema mismatch from server" - when defining multiple rooms/states"
This error is reported often, and one of its causes is when multiple room/state classes are defined in the server with the same schema "context".

Internally, every `@type()` call is going to register the property in a "global" context:

[code]

To avoid registering every schema in the global context, you can create a different context like this:

[code]

---

**Actions needed:**

- Update documen

[2020-12-02 17:22] Lucidarme opened #132 "Create a room asynchronously"
[colyseus-issue.zip](https://github.com/colyseus/colyseus-unity3d/files/5630898/colyseus-issue.zip)

As explain on the Discord, there is an issue when a room is created asynchronously. The issue is that in the unity client, the function GetAvailableRooms() returns all the rooms but without metadatas nor any other param like maxClients.
I link a .zip which contain a reproduction scenario.
I tried w

[2020-12-02 17:29] endel commented on #132
Thanks @Lucidarme, I wasn't aware you were referring to the unity3d client, there might be an issue parsing metadata there indeed as @tonygiang reported this recently https://github.com/colyseus/colyseus/issues/381, which seems related to what you are experiencing!

[2020-12-02 17:37] Lucidarme commented on #132
Thank you but I've already read that when i was looking for a solution, but it's not the same problem.
To me, metadatas works perfectly when the room is created synchronously. I have this problem only when the room is created asynchronously !

[2020-12-02 17:38] endel commented on #132
Alright, thanks! Gonna check it soon @Lucidarme

[2020-12-02 17:45] Lucidarme commented on #132
Thank you !

[2020-12-05 22:37] endel commented on #132
Hi @Lucidarme,

I've checked your sources and the problems seems to be because `maxClients` is parsed as string when coming from the XML file. Whereas when you set it manually, it is a number.

If you use `parseInt(res.room.maxClients || 6)` it works. I think this is more of a type definition issue, as `res.room.maxClients` is interpreted as `any`

Perhaps we should throw an error if `this.maxClie

[2020-12-06 12:55] Lucidarme commented on #132
Hi @endel

You are right, and it's the same thing for publicName, I had to parse it to string to make it work.
Yes an explicit error could be fine, it may save lot of time !

Thank you for your help !

[2020-12-16 09:13] sorrow31812 commented on #131
Hi @endel, I get this error too, but i  use javascript instead of typescript on server side.
Can u give a javascript example?
Thanks a lot.

[2020-12-16 11:39] endel commented on #131
Hi @sorrow31812, for plain JavaScript it is a bit complicated, the general suggestion is to always use TypeScript:

[code]

Make sure you use the specified `context` for **every** structure your state depends on, otherwise the "schema mismatch" is going to happen

[2020-12-16 19:59] soile1991 opened #133 "v0.14 : KeyNotFoundException: The given key was not present in the dictionary."
I receive a key not found at https://github.com/colyseus/colyseus-unity3d/blob/master/Assets/Plugins/Colyseus/Serializer/Schema/ReferenceTracker.cs#L51

[code]

Fields generated by the last version of c# generator (original version)

Version :
colyseus server : 0.14.4
colyseus unity : 0.14.2
schema : 1.0.6

[2020-12-17 08:17] sorrow31812 commented on #131
I get it, thanks for your help! 👍

[2020-12-28 17:05] lee-orr commented on #133
I'm getting the same issue, and then next time I try to update the same object I end up with:
[code]
I have a large object (containing a bunch of MapSchema's) that I replace when this happens. Generally the first replacement will cause this but seem to work, while the second one doesn't.
I also tried instead of placing this object in a Map itself, deleting the old one and adding the new one in a n

[2020-12-29 02:50] tonygiang opened #135 "Schema-derived types will have their default constructors stripped by Unity's Managed code stripping setting medium or above"
Unity has a feature called [managed code stripping](https://docs.unity3d.com/Manual/ManagedCodeStripping.html) to reduce the size of a build. During this process, if the setting is set to Medium or High, all types derived from `Colyseus.Schema.Schema` will have their default constructors stripped because Unity's linker determine that they are unreachable code, which leads to `MissingMethodExceptio

[2020-12-29 11:30] devPryze commented on #135
thanks for the heads up!

[2021-01-04 16:46] #132 closed

[2021-01-04 16:52] endel commented on #133
Hi @soile1991 and @lee-orr, thanks for reporting, and sorry for the delay to answer. (I was on vacation the last few weeks)

It is likely that ArraySchema's decoder is the cause of this (C# client-side). Would you mind providing a minimal reproduction scenario where I can reproduce this? I've tried but failed to reproduce.

Ideally, if you can fork this project [colyseus-unity3d](https://github.co

[2021-01-04 21:17] lee-orr commented on #133
I just spend a couple hours trying to find a minimal repro, but haven't really been able to do so... as least so far. I'll give that another try when I have the time.

[2021-01-05 14:22] soile1991 commented on #133
Hey, @endel I made a fork from colyseus-unity3d and implemented the behavior to trigger the bug.

it's a card game you start with 52 cards and every time you click to play the cards button it plays 1 to 3 cards randomly if you hit it many times (e.g. once per second) it will trigger the bug before the remaining cards hit zero.

Repo:
[forked repo (card game)](https://github.com/soile1991/colyseus-

[2021-01-07 03:14] endel commented on #133
Thanks for providing a reproducible example @soile1991 🥳

I've spent some time debugging it, and there were a few small issues decoding ArraySchema.

Could you confirm if copying the latest version of [ArraySchema.cs](https://github.com/colyseus/colyseus-unity3d/blob/master/Assets/Plugins/Colyseus/Serializer/Schema/Types/ArraySchema.cs) into your project fixes the issue @soile1991 @lee-orr? If it

[2021-01-07 03:28] lee-orr commented on #133
I'll take a look in the morning! Thanks.

Lee-Orr

[2021-01-07 11:16] soile1991 commented on #133
@endel I think that fixed the bug.
I tried it many times and I didn't encounter it once.
Thank you 🙏

[2021-01-07 14:03] lee-orr commented on #133
When I first tested it it looked like the issue was resolved, but after continuing to work a little I ran into it again...

[2021-01-07 14:05] lee-orr commented on #133
In my case I'm changing a MapSchema rather than an ArraySchema - let me see if I can replicate your changes there...

[2021-01-07 15:32] lee-orr commented on #133
Unfortunately I don't understand the changes well enough to know exactly how to replicate them on a MapSchema... I can try to give you access to my project, but it's an early-phase prototype with many moving parts, so I don't think it'll be easy to understand...

[2021-01-07 18:02] soile1991 commented on #133
@lee-orr I added a MapScema on my fork and it works ok (clear set delete) what is the operation you do when you run into the bug?

[2021-01-07 18:38] endel commented on #133
@lee-orr can you try this version and see if works for you? https://gist.github.com/endel/ace4cf759161cb94ffbe07f0552af1f9

The problem on ArraySchema was because `GetByIndex()` was returning `default(T)` instead of `null` for non-existing entries. It's likely to be the same problem for MapSchema.

[2021-01-07 20:40] lee-orr commented on #133
@endel - Unfortunately, it seems like it's not resolved by bringing that file in... I'm still getting the same errors:
[code]

[2021-01-08 07:56] soile1991 commented on #133
@lee-orr can you share a snippet of the code deals with those operations and a snippet of your object with map schemas? If we can it will be easier for @endel to fix the bug on MapSchema

[2021-01-08 15:41] lee-orr commented on #133
It's complex - but here's the best explanation I can give:
We have a MapSchema of GameMap objects - each of which has a property called sdfOperators of type OperatorList. This is that type:
[code]
And here's one example of an object in the maps contained inside:
[code]
When changes are made to the map, a new OperatorList is generated and replaces the sdfOperators field in the GameMap like so:
[cod

[2021-01-08 17:05] lee-orr commented on #133
Do you have any suggestions/ideas of where to look in the library itself to see if I can help debug it?

[2021-01-11 02:37] lee-orr commented on #133
Right now I'm working on some alternative approaches for this project - just because I haven't been able to debug it and need to get this done. But once I have some time again, I'll attempt to reduce this thing down to a minimal reproduction to the best of my ability. Sorry for the delay with that @endel - I don't want to take up more of your time on my specific project - so I'll resolve things di

[2021-02-15 22:14] rnd256 opened #137 "Improve use of generics and privacy levels in `ArraySchema` and `MapSchema`"
* `ArraySchema`'s method signatures for `GetItems()`, `GetByIndex(index)`, `ContainsKey(key)`, `GetTypeDefaultValue()`, `SetItems()`, and `InvokeOn{Add,Change,Remove}()` should use type `T`.
* The `Items` member should probably be private.
* It seems like there are some methods that manage internal details which shouldn't be public (eg. `GetIndex(index)` without the `By` in the name, and anything

[2021-02-16 02:33] endel commented on #137
Thanks for the feedback @rnd256, I agree completely, all these methods should be for internal usage only and not exposed. I hope we can tackle this sooner or later.

[2021-02-16 02:55] rnd256 commented on #137
I think the methods in the first bullet point I mention should remain public, but agreed on making the other ones private.

[2021-04-04 10:33] rthery commented on #101
@rnd256 No it doesn't, when upgrading with a `.unitypackage` you need to remove the previous folders and then import the new package to be sure to remove any deleted files in the new version.

That way of distributing packages is not recommended anymore, it would be better to distribute it through the Unity Package Manager, as described here:
https://docs.unity3d.com/Manual/CustomPackages.html

I

[2021-04-06 16:01] rthery opened #138 "Add support to cancel all async calls"
Although `WebSocket.cs` supports it, it's not used at the moment.

Every async call made to Client.cs should be cancelable with the use of a `CancellationTokenSource` to better support error handling and improve player experience.

[2021-04-06 17:43] endel commented on #131
Another known appearance of the "schema-mismatch" problem was just found by @drburton when duplicating a field name through inheritance. Just documenting this here, as a fix for this is coming soon!

**How to reproduce**

[code]

[2021-04-07 13:19] rthery opened #139 "Use appropriate type in generated C# schema files"
I've noticed that if I use Colyseus primitive type uint8 for a property in a schema, the generated C# will use uint instead of [byte](https://docs.microsoft.com/en-us/dotnet/api/system.byte?view=netstandard-2.0)

Probably best to go over all the primitive types supported by Colyseus and make sure that the generated C# use the matching ones, cf. https://docs.microsoft.com/en-us/dotnet/csharp/langua

[2021-04-07 14:51] endel commented on #139
Hi @rthery, thank you for noticing and reporting this! You're right, both `int8` and `uint8` had to be changed to `sbyte` and `byte` respectively.

I've just released version [`0.14.4` of the unity plugin](https://github.com/colyseus/colyseus-unity3d/releases/tag/0.14.4), and the latest version of `@colyseus/schema` (`1.0.19`) is now generating sbyte/byte instead of int8/uint8.

**Important:** If

[2021-04-07 14:51] #139 closed

[2021-04-07 14:52] endel commented on #138
Thanks for the suggestion @rthery, I think that'd be valuable indeed!

[2021-04-08 13:31] rthery opened #140 "Prevent mutatibility of schema properties"
Even after reading the official documentation, I wasn't 100% certain that Colyseus was only server authoritative (although I was 95% maybe ;))

What made me doubt is the fact that schema properties are actually public fields in the generated C# classes!
Since state cannot be mutated directly on the client side, we shouldn't allow this. Best to make these fields private with a public getter, the in

[2021-04-10 15:51] rthery opened #141 "Invert KeyValueEventHandler parameters in MapSchema"
[code]

MapSchema uses `string` then `T` everwhere except for these events. Because of this inversion, it means we can't just directly call handlers for these events with other MapSchema methods, like ForEach, so you end up having to write
`mapSchemaInstance.Foreach((key, t) => OnAdd(t, key))` instead of a nicer `mapSchemaInstance.Foreach(OnAdd)`

I know it's a breaking chance, but it would just b

[2021-04-26 05:34] tonygiang opened #143 "Unity client fails to connect on iOS (Updated for 0.14.5)"
Tested on the latest Unity client (0.14.4): When ran on an iOS device, the join room task returned by `Client.JoinOrCreate` always finish immediately with `Faulted` status. No connection attempt is received on server-side (running Colyseus 0.14.13).

When running inside Unity Editor on MacOS, Colyseus Unity client is still able to connect.

[2021-05-02 12:07] Evilart86 opened #145 "Unused code in SchemaSerializer.cs"
[code]
fieldNames is never used

[2021-05-10 05:08] tonygiang commented on #143
Just an update: I traced down exactly where the connection always fails on Unity iOS client: this line in `Colyseus.Client.CreateMatchMakeRequest`:
![2021-05-10 12_06_37-Window](https://user-images.githubusercontent.com/7429894/117608441-3fdc4180-b188-11eb-84a6-5c342ebaddbe.png)
`req.isNetworkError` will be true after this line and the function quits.

[2021-05-10 09:31] tonygiang opened #147 "0.14.5 Client: ColyseusManager.ConnectToServer is a protected method, contrary to documentation's instruction"
The documentation for version 0.14.5 [here](https://docs.colyseus.io/getting-started/unity3d-client/) instructs client developers to connect to server using this command:

`ExampleManager.Instance.ConnectToServer();`

The usage of the public `Instance` field implies this command is meant to to called outside of `ColyseusManager`. But since `ColyseusManager.ConnectToServer` is a `protected` method,

[2021-05-10 11:22] tonygiang opened #148 "0.14.5 Client: ColyseusClient.JoinOrCreate task runs indefinitely despite successful room creation"
On the 0.14.5 Unity client, the task returned by `ColyseusClient.JoinOrCreate` will never finish running even though I can confirm that a connection was made with a Colyseus server running version 0.14.13. Notably: creation of a room was successful, Unity client appeared to receive room information in the Console, and that's where it hangs, it did not succeed in joining said room.
![2021-05-10 18_

[2021-05-11 22:36] #148 closed

[2021-05-11 22:37] mitchLucid commented on #148
@tonygiang please let me know if the issue persists, I'm receiving "RanToCompletion" status on the tasks now after the last pull request

[2021-05-12 02:04] tonygiang commented on #148
Appears to work on initial testing.

[2021-05-12 02:30] tonygiang commented on #143
This issue still remains in the 0.14.5 client.

[2021-05-12 03:22] tonygiang commented on #143
This turned out to be an inexplicable iOS-specific quirk. By all online documentation, setting NSAllowsArbitraryLoads in XCode's propertly list to true should allow all http connections, but for some reason, our builds refuse to acknowledge this property and we had to add our Colyseus server domain to the exception list. I'm just about fed up with Apple products. But anyway, this issue is not rela

[2021-05-12 03:22] #143 closed

[2021-05-14 16:45] Unelith commented on #133
I'm having an issue with that as well.

[code]

This happens when calling `.splice()` on the server on an `ArraySchema` instance held by the room state, but only if stuff is removed in at least two separate patches in a row - after that, it's thrown on every single state patch regardless of anything else. That does not happen when alternating between adding and removing a single item each time.

T

[2021-05-14 16:50] mitchLucid commented on #133
@Unelith I will try to look into this soon but if it **was** fixed in the update it was done incidentally, so I wouldn't begin migrating your project on that hope quite yet. I will try to set up a good repro case locally and test with the updated SDK to confirm one way or the other

[2021-05-14 17:36] Unelith commented on #133
@mitchLucid Perhaps extra details could be useful then:

1. This `ArraySchema` holds instances of a `Schema`, whose definition is as follows:
[code]
2. On the client, having retrieved an `AreaState` schema instance from either `OnAdd` or `OnRemove` listener attached to the `ArraySchema`, I do pass it around quite a lot, for instance:
[code]
[code]
[code]
[code]
Which in turn calls this:
[code]

[2021-05-14 17:41] mitchLucid commented on #133
Thank you, @Unelith this is helpful info!

[2021-05-18 08:11] edmand46 opened #153 "Release new version 0.14.6"
Release new version 0.14.6
Please release hotfix for CreateOrJoin with room.Connect()

https://github.com/colyseus/colyseus-unity3d/issues/148

[2021-05-18 16:55] mitchLucid commented on #153
0.14.6 has been released, please let us know if you have any trouble with it!
https://github.com/colyseus/colyseus-unity3d/releases/tag/0.14.6

[2021-05-18 16:55] #153 closed

[2021-05-21 19:44] rnd256 opened #154 "`room.Send()` should throw an error if the send failed, rather than returning silently"

[2021-05-21 20:09] endel commented on #154
Hi @rnd256, thanks for reporting as always.

Forgive my ignorance but in which situation would `room.Send()` fail? I can only think of operating on a disconnected WebSocket, if that's what you're referring to we should make it throw an error indeed!

[2021-05-21 22:11] rnd256 commented on #154
Hi @endel, thanks for the fast response as always :)

That's exactly what I'm referring to! Here are the two spots where I think an issue could occur:

* https://github.com/colyseus/colyseus-unity3d/blob/4472b4db8ba39a7705d001b96b86d18cee3218ea/Assets/Colyseus/Runtime/WebSocket/WebSocket.cs#L485
* https://github.com/colyseus/colyseus-unity3d/blob/4472b4db8ba39a7705d001b96b86d18cee3218ea/Assets/Col

[2021-05-24 18:19] tonygiang commented on #154
+1

I don't know if a disconnection detected by the Colyseus client will always be detected by the server, but having a confirmation that a disconnection did happen client-side will help with problem diagnosis greatly, and identify such cases.

[2021-05-26 11:29] cngege opened #155 "Do not allow two devices in the local area network online?"
Do not allow two devices in the local area network online?
A mobile phone Turn on wireless network sharing
Another phone to connect to this network
No other network equipment

[2021-05-26 14:20] endel commented on #155
Hi @cngege, Colyseus uses the client-server model, so you need to have an external server in the cloud somewhere.
The clients cannot host games and be the server when using Colyseus.

[2021-05-28 08:32] tonygiang opened #156 "Regression: Cannot use multiple Colyseus settings."
The current Unity client is very restrictive in terms of endpoints. At any given moment, `ColyseusRequest` has only one monolithic `ColyseusSettings` to send request through, and we'd have to override this monolithic settings via `ColyseusManager` to connect to a different endpoint on runtime.

This does not fit a lot of real use-cases, such as running each gameplay mode endpoint on one process th

[2021-05-28 09:31] tonygiang opened #157 "Bug: Colyseus client cannot recognize custom WebSocket close codes"
[WebSocket close codes in the range 4000-4999 are available for use by applications](https://developer.mozilla.org/en-US/docs/Web/API/CloseEvent), but Colyseus Unity client does not recognize them, instead returning 1004 in all cases of custom close codes being sent back. We use this a lot for diagnosis and for custom client rejection messages. Please accommodate these use cases. [The Colyseus ser

[2021-05-28 18:36] endel commented on #92
Closing this as the new UPM support should cover this! :) https://github.com/colyseus/colyseus-unity3d/pull/146

[2021-05-28 18:36] #92 closed

[2021-05-28 18:37] endel commented on #101
We finally provide both `.unitypackage` and UPM packages on the latest version! 🎉  (https://github.com/colyseus/colyseus-unity3d/pull/146)

[2021-05-28 18:37] #101 closed

[2021-05-28 23:09] endel commented on #135
Thanks for the heads up @tonygiang!

_(I'm just documenting here my findings for future reference, as this issue is not super high priority)_

I've tried to configure [Managed Code Stripping](https://docs.unity3d.com/Manual/ManagedCodeStripping.html) right now and couldn't make it work for both "Medium" and "High", even if using `[UnityEngine.Scripting.Preserve]` on every `Schema`-related structur

[2021-06-01 20:40] #157 closed

[2021-06-01 20:40] #156 closed

[2021-06-04 15:49] jushii opened #160 "UnityWebRequest in ColyseusRequest class causes memory leaks in newer versions of Unity"
Currently resources used by `UnityWebRequest` in `ColyseusRequest` aren't disposed and this can cause a memory leak in newer versions of Unity. I've only tested this on Unity version 2021.2.0a17.2411 (yeah I know, alpha! 😄) but there has been [reports](https://answers.unity.com/questions/1830563/need-help-on-a-native-collection-has-not-been-disp.html) about the same issue happening with other vers

[2021-06-05 22:27] De-Panther opened #162 "Suggestion: Register to OpenUPM with the upm branch"
The https://openupm.com/ site has a list of lots of Unity packages, and runs its own scoped registry.
It makes the use of external UPMs easier than Git UPMs.

[2021-06-08 04:33] tonygiang commented on #135
I just encountered this issue out of nowhere but with code stripping set to Low. Now it seems like the only safe choice is no code stripping.

[2021-06-08 06:37] tonygiang commented on #135
Apparently IronSource SDK could cause problem with Schema types' constructors being stripped as well. I don't know how but it does.

[2021-06-21 11:25] burhanyilmaz commented on #135
Hi @endel,
After I build a project for WebGL, when I join the room, I receive this error.

[code]

[2021-06-21 13:20] endel commented on #135
Hi @burhanyilmaz, which level of Code Stripping are you using? Low, Medium, or High?

[2021-06-21 13:35] burhanyilmaz commented on #135
@endel Thanks for the response!
unity version is  `2020.3.12f1`
strip engine code  ✅
manage stripping level : `Low`

[2021-06-21 13:38] burhanyilmaz commented on #135
I tried these. But I am not sure that these are correct or not :/

MyState.cs
[code]
link.xml
[code]

Thanks!

[2021-06-21 14:56] burhanyilmaz commented on #135
When the target platform is macOS, there is no problem. I connected to the room and received messages.
it is related to WebGL build.

[2021-06-22 06:56] burhanyilmaz commented on #135
@endel @tonygiang
I fixed this issue
https://github.com/colyseus/colyseus-unity3d/pull/163

[2021-06-22 09:49] tonygiang commented on #135
Not so fast. This issue affects all C# types generated by `schema-codegen`. It will be fixed when `schema-codegen` is fixed.

[2021-06-30 05:53] tonygiang opened #164 "ColyseusRoom instance occassionally becoming null"
I have just witnessed with my eyes a situation where the `ColyseusRoom` instance returned by `ColyseusClient.JoinById` task becomes null at some point after the task finishes running. Prior to this null check, the `ColyseusRoom` instance was able to run a series of `ColyseusRoom.OnMessage` calls without exception. This doesn't always happen and cannot be consistently reproduced, thus I suspect a r

[2021-06-30 18:59] endel commented on #164
Hi @tonygiang, thanks for letting us know! - Have you experienced this in Unity editor, native build, or WebGL?

`UniTask` can be a clue here. I personally never used it along with Colyseus, but they should be compatible.

[2021-07-01 02:05] tonygiang commented on #164
This issue has happened with both Unity Editor and native build. We do not target WebGL. This issue happens regardless of whether there is `UniTask` or not. We detected a null room instance before we even put in a `UniTask` to await until it stops being null.

[2021-07-01 11:32] tonygiang commented on #164
Upon diving into the Unity client source code, there's one part that concerns me. This is the full source of `ColyseusClient.ConsumeSeatReservation`:

[code]

There is something that bothers me (and I'm not very sure about this since this is a bit more low-level than I'm comfortable with, but I still have to throw this theory out here).

So the `TaskCompletionSource` here supposely will finish its

[2021-07-22 13:29] LeCommandeur opened #166 "Session expired when attempting to reconnect"
Hi!

I have been trying to implement automatic reconnection with colyseus but have been unsuccessful so far.
When I disconnect one of my clients and try to reconnect the same client (basically, I close the application and relaunch it) the reconnection fails with the message "session expired: SESSION_NAME" along with the error code 4214.

The server is still running, there is still another client c

[2021-07-27 12:51] kaancetinkayasf opened #168 "Deprecated UnityWebRequest methods are in use "UnityWebRequest.isHttpError" and "UnityWebRequest.isNetworkError" in file ColyseusRequest.cs"

[2021-08-01 03:22] rnd256 opened #169 "Schema `OnChange` delegates not removable"
Colyseus Unity client version: 0.14.7 (latest)
Colyseus server version: 0.14.1 (not latest, but issue is client-side)

If you store a reference to a `Schema` object other than the root schema, later (after a schema patch?) attempting to remove a delegate from that reference's `OnChange` event will fail silently.

See comments in the example client code below for more specifics on what's going wron

[2021-08-01 03:28] rnd256 commented on #169
@endel it looks like you fixed related bug(s) with these commits:

https://github.com/colyseus/colyseus-unity3d/commit/e4bdfe3fc73c04ef149e545050a294f042d6de12
https://github.com/colyseus/colyseus-unity3d/commit/091ba1386c58a237060003d94279e6a7786efc3d

FYI this "not being able to remove delegates" issue existed before those commits too, so they're not the cause of the issue. But I do think the is

[2021-08-02 13:57] endel commented on #169
Interesting, thanks for reporting again @rnd256, I'm gonna have a look at this during this week!

[2021-08-02 19:18] #160 closed

[2021-08-04 16:22] #168 closed

[2021-08-04 16:23] mitchLucid commented on #168
Closed in PR #170

[2021-08-04 16:50] endel commented on #169
Hey @rnd256, I just figured what's happening. The instance of `gameState.phase` is getting replaced in the first patch arriving from the server. Therefore the local `phase` reference is not relevant anymore. By using `gameState.phase` inside `MyCallback2` it will work properly.

I think the issue here is that the way schema callbacks are attached can be confusing at times. I'd love to have a way t

[2021-08-04 22:43] rnd256 commented on #169
By that, do you mean for example being able to declare a `gameState.phase` `OnChange` handler that persists even if `phase` ends up being set to `null` and/or a new `Phase` instance? I agree that would be much easier to work with.

Thanks for looking into this! Are you saying that any change to `gameState.phase`'s inner values (ie. `phase.number`) changing invalidates the reference to `phase` on t

[2021-08-04 23:03] endel commented on #169
That's exactly what I mean! 👀

Exactly! You'll see that the generated `GameState.cs` file contains `phase = new Phase()`. This first instance is going to be thrown away as soon as the server sends the first patch (but the callbacks are copied over). After the first patch, the instance is going to remain the same.

[2021-08-05 00:21] rnd256 commented on #169
One thing I should mention is that it's still important to be able to create `OnChange` handlers for specific items in an `ArraySchema` or `MapSchema`. But I think those are the only cases where listening on specific objects is desired, and in all other cases listening on schema *path* is desired.

Ahh thanks, that makes sense. I didn't realize that all the values in the state were just empty cont

[2021-08-05 00:24] rnd256 commented on #169
(same goes for `colyseusClient.Reconnect()`

[2021-08-21 23:36] RaidelRoss commented on #169
Have you found any way to make the OnChange method work? regards

[2021-08-22 00:07] RaidelRoss commented on #169
I already found the solution, your comments were helpful, thank you
[code]

[2021-08-26 17:49] tony709394 opened #172 "The code after "client.JoinOrCreate" does not execute"
Why is `Debug.Log("====== JoinOrCreate ======");` always not implemented?And no exceptions are caught.
[code]

version: 0.14.8

[2021-08-31 18:57] ajeshyohan opened #174 "Game Object Destroyed when coming back to the scene"
I am creating a room using JoinoorCreate inside async void start() that works fine, on press exit button I am leaving the room and going to the other scene(menu), then when coming back to the gaming scene the game object gets destroyed which has the script to createorjoin room

[2021-09-07 04:38] tony709394 commented on #174
What do you refer to when you write code?  I feel that the latest official documentation is unreliable, and the case project uses an older version of the library.

[2021-09-07 06:39] tony709394 commented on #172
[Resolved] Because the client Schema does not correspond to the server Schema.
Just use "[schema-codegen](https://docs.colyseus.io/colyseus/state/schema/#client-side-schema-generation)" to solve the problem.

[2021-09-07 06:40] #172 closed

[2021-10-01 00:01] rnd256 opened #175 "[Bug] `KeyNotFoundException` exception in garbage collector"
Colyseus Unity3d version: 0.14.8 (latest). It also occurs with version 0.14.7.  I haven't tested other versions.
Colyseus server version: 0.14.23 (latest).

Occasionally, after removing a `Schema` object from a `MapSchema`, this line throws the error "KeyNotFoundException: The given key was not present in the dictionary":
https://github.com/colyseus/colyseus-unity3d/blob/f80f7f402ad2e51c4ebad59db3

[2021-10-01 00:05] rnd256 commented on #175
My temporary workaround is to completely disable the garbage collector by commenting out this line:

https://github.com/colyseus/colyseus-unity3d/blob/f80f7f402ad2e51c4ebad59db389c0b4d05ee1ad/Assets/Colyseus/Runtime/Scripts/Serializer/Schema/Schema.cs#L648

That seems to prevent both of the above errors.

[2021-10-06 11:58] Lonri opened #176 "ArraySchema: JsonSerializationException: Unexpected token readed 'BeginArray' while 'BeginObject' is expected"
I can't seem to get any ArraySchema to work, being it string, number or something else. I know there's [this closed issue](https://github.com/colyseus/colyseus/issues/281) about an ArraySchema<number> problem but updating to the latest versions of colyseus didn't fix it for me.

Am I being blind or is there still a bug?

What I'm using:
- Unity 2019.4.23f1
- Colyseus Unity SDK 0.14.8 with C#
- Col

[2021-12-28 13:11] aedbrault opened #180 "Issue with build in Websocket.jslib ( utf8 + runtime ) , Unity 2021.2.7 + Suggestion Fix"
Hello, having spent a lot of time on the problem I come here to make my research / my corrections to these problems.

Recently we decided to update to Unity version 2021.2.7 due to some bug fixes. But while generating the compilation in WEBGL we encountered a problem due of Websocket.jslib, I corrected the problem by changing all the `Pointer_stringify` functions to `UTF8ToString` and the build wa

[2022-01-06 03:53] 0NamTP opened #181 "Login 2 device with same client and join same room, the second device auto leave after join room"
Can i still let 2nd device join in room and work like the 1st one ?

[2022-02-10 13:48] dongvanhung opened #183 "JoinById or JoinOrCreate... can not receive an exception when throw an exception from server"
I think there is problem with `onAuth(client: Client, options: any, request?: IncomingMessage)` on the server side.
When you return false or throw an exception in the `onAuth` method, on the Unity client side, at the first time, It will throw an exception, but when you join or create room one more time, It will not throw any exceptions. It only throw a `Websocket closed! Code:4002`, not an excepti

[2022-03-05 14:51] endel opened #185 "The remote party closed the WebSocket connection without completing the close handshake"
Reported by @rakeshparihar on https://github.com/endel/NativeWebSocket/issues/61

[2022-03-07 13:57] nuruddinwarsi commented on #185
Hi, I am facing the same issue as well. Using an android build to test
**Steps :**
- User disconnects internet on their device.
- pingInterval: 15 and pingMaxRetries: 1. The server waits accordingly for that time and players are also shown in colyseus monitor panel.
- However, on the client, the device's websocket connection is closed and abnormal code 1006 is thrown.
- Client is unable to reconne

[2022-03-07 14:01] endel commented on #185
@AbhishekFYND Do you possibly have a small project where we can observe this problem? Do you also use the reconnection feature?

@nuruddinwarsi How does your `onLeave()` method look like? I've seen some people using `.allowReconnection()` without the `await` keyword, thus having unexpected behaviour

[2022-04-20 09:36] voidtuxic opened #187 "Change default Unity compilation symbols for json serializer"
The JSON serializer configures the default serializers for unity object but uses quite old version related compilation symbols. These unfortunately don't work in newer Unity versions, which means that sending a message with a unity vector will stack overflow in the `ObjectSerializer`.

https://github.com/colyseus/colyseus-unity3d/blob/0e003af9e558544268e352d38441c1e93139de5d/Assets/Colyseus/Runtim

[2022-04-20 13:13] endel commented on #187
HI @voidtuxic, thanks for reporting this!

The MsgPack implementation is a copy from [deniszykov/msgpack-unity3d](https://github.com/deniszykov/msgpack-unity3d/)

I noticed they've updated their implementation slightly here: https://github.com/deniszykov/msgpack-unity3d/blob/faa19c250837fc1b175809a70cf1e12252ff7b02/src/GameDevWare.Serialization.Unity/Assets/Plugins/GameDevWare.Serialization/Json.c

[2022-05-03 16:19] zouhunter opened #189 "WebGL Build failed on Unity 2021.3.1f1c1"
Building Library\Bee\artifacts\WebGL\build\debug_WebGL_wasm\build.js failed with output:
C:\Program Files\Unity\Hub\Editor\2021.3.1f1c1\Editor\Data\PlaybackEngines\WebGLSupport\BuildTools\Emscripten\emscripten\tools\acorn-optimizer.js:1845
  throw err;
  ^

SyntaxError: Unexpected token (4311:62)
  var textEncoder={encoding:"utf-8",encode:encode(input = '') {

[2022-05-03 16:21] endel commented on #189
Hi @zouhunter, can you try upgrading the Colyseus SDK?

The `textEncoder` is not initialized like this anymore. See latest version here: https://github.com/colyseus/colyseus-unity-sdk/blob/master/Assets/Colyseus/Runtime/WebSocket/WebSocket.jslib

[2022-05-03 16:26] zouhunter commented on #189
i`m using the release of 0.14.12，thank you very much for your reminder.

[2022-05-03 16:28] #189 closed

[2022-05-11 12:55] #187 closed

[2022-05-16 16:26] endel opened #191 "Error creating .unitypackage (GitHub Workflow)"
Since https://github.com/colyseus/colyseus-unity-sdk/pull/190, this error started happening when bumping the version on `package.json`:

[code]

The issue seems to be coming from the `unitypackage` NPM module, at this line: https://github.com/pCYSl5EDgo/unitypackage/blob/c164da80cc54c7fdd452c83cc0eec3b0b5ded21a/src/index.ts#L83

Apparently, `unitypackage` tries to call `copyFileSync()` to copy `"G

[2022-05-24 11:07] #191 closed

[2022-06-21 16:24] hdev72 commented on #131
hello dear friends
i have this error only in android build of unity (apk), in editor when i running game every thing is ok

[2022-06-21 17:33] hdev72 opened #195 ""Local schema mismatch from server." only in unity android build"
hello dear friends
i have this error only in android build of unity project (apk).
in editor when i running game every thing is ok

error: Local schema mismatch from server. Use "schema-codegen" to generate up-to-date local definitions.

pls help

[2022-06-21 17:43] endel commented on #195
Hi @hdev72, can you share more details about your server-side code? Do you possibly have "code stripping" enabled?

Do you have more than one room handler defined? I see you've commented on issue #131 - there's a description there of how to avoid this error by defining a "context" per room type if you happen to have more than one defined.

[2022-06-24 13:14] endel commented on #162
Thanks for the suggestion! This has been done in a while and forgot to update here 🙏  https://openupm.com/packages/io.colyseus.sdk/

[2022-06-24 13:14] #162 closed

[2022-07-06 22:02] sticmac opened #197 "Cannot overwrite message callback"
When using `ColyseusRoom.OnMessage` twice on the same message ID, I get the following exception:

[2022-07-11 07:42] sticmac opened #198 "JsonSerializationException in WebGL export because AotRuntime is activated"
When exporting my Unity project as a WebGL application, the following exception is thrown during runtime:

This prevents any data sent by the server through messages to be deserialized and used on the client, which is a major problem.

After investigating on the issue with my local fork, I found that it originates from the `TryGetConstructor` method, at line 200:

[code]

It seems that `AotRuntime

[2022-07-11 12:53] endel commented on #198
Interesting, thanks for the report @sticmac. If you can could you share the version of Unity you're using?

[2022-07-11 15:14] sticmac commented on #197
I made a pull request (#199) containing a solution like the example you provide :)

[2022-07-20 12:31] endel commented on #198
Hi @sticmac, would you mind providing the full stack trace for us? And perhaps a small reproduction scenario where we can check this error happening?

[2022-07-20 18:54] sticmac commented on #198
The problem seems to happen while receiving any message containing a custom object in its payload. In my case, I have this script for managing players connections (spawning characters for players already connected and for newly connected players).

[code]

My schema classes are generated with `schema-codegen`:

[code]

The above `PlayersConnection` scripts works perfectly fine when running from th

[2022-07-31 02:43] microfisher opened #201 "Can not export to WebGL"
hi , i try to export the [colyseus-unity-sdk](https://github.com/colyseus/colyseus-unity-sdk) to a webgl , when i create a room, there are always show a javascript error like this, i use the unity 2022.1.5f and did not change any code. thanks for your job:

[code]

[2022-08-16 14:30] SleepingProgrammer commented on #176
Sorry for reviving this but did you get any luck here? Got the same issue. Changed to .JSON on server but still nah

[2022-08-30 12:35] alpdoganurut opened #203 "Domain Reload support"
Does Colyseus support disabling Domain Reload in Unity or is there any plans to support it in the near future?
More info:
https://docs.unity3d.com/Manual/DomainReloading.html

[2022-09-21 18:03] endel commented on #135
Relevant to this discussion, a Discord user has reported this comment: (building for Android)

[2022-09-23 12:25] VkDevPh opened #204 "JsonSerializationException: Unable to deserialize instance of 'BgDataMessage' for iOS on device.."
When exporting my Unity project for iOS, the following exception is thrown during runtime:

JsonSerializationException: Unable to deserialize instance of 'BgDataMessage' because there is no parameterless constructor is defined on type.

It's working fine while playing on Unity Editor.
**Unity version : 2020.2.2f1**
**Colyseus SDK version : 0.14.19**

Following is the  BgDataMessage.cs. class I'm u

[2022-09-23 12:47] endel commented on #204
Hey @VkDevPh, this issue is related to https://github.com/colyseus/colyseus-unity-sdk/issues/135#issuecomment-1254051078

The workaround suggested for now is to compile using Mono backend and disable code stripping, can you try that out and let us know if that works? Cheers

[2022-09-26 05:29] VkDevPh commented on #204
Hello Endel,
Thanks for your quick respose.
1) Code stripping is already disabled for my project.
2) Unity doesn't support Mono backend anymore for iOS platform.

<img width="1325" alt="Screenshot 2022-09-26 at 10 51 09 AM" src="https://user-images.githubusercontent.com/114232395/192199653-9fe9bcce-398f-4717-8e8f-8d42bba8db19.png">

ref.
https://docs.unity3d.com/2023.1/Documentation/Manual/class-P

[2022-09-26 10:13] endel commented on #204
Hi @VkDevPh, thanks for the info. If that didn't do perhaps this other workaround (https://github.com/colyseus/colyseus-unity-sdk/issues/198#issuecomment-1190639325) could help?

[code]

Let me know if that works for you. This issue has been brought up a couple of times and we should be working on fixing it sooner than later!

[2022-09-26 10:48] VkDevPh commented on #204
Hi Endel,
Appreciate your quick reply again. :)

I tried this  (https://github.com/colyseus/colyseus-unity-sdk/issues/198#issuecomment-1190639325) approach.
Good thing is that it got rid of _JsonSerializationException: Unable to deserialize instance of_ exception but a new exception occurred.

Please have a look and let me know if I'm missing something. (On Unity Editor It's working fine like befo

[2022-09-26 10:53] VkDevPh commented on #204
Hi Endel,
Appreciate your quick reply again. :)

I tried this (https://github.com/colyseus/colyseus-unity-sdk/issues/198#issuecomment-1190639325) approach.
Good thing is that it got rid of JsonSerializationException: Unable to deserialize instance of exception but a new exception occurred.

Please have a look and let me know if I'm missing something. (On Unity Editor It's working fine like before.

[2022-09-26 12:24] bawahakim opened #205 "Schema Backward Compatibility not working as expected"
According to the documentation, schemas should be backwards compatible, even in statically-typed languages like C#: https://docs.colyseus.io/colyseus/state/schema/#versioning-and-backwardsforwards-compability

However, if I add a new type at the end of my schema on the server, I get the schema mismatched error. Would it make more sense to simply not check for schema types, and leave it to the resp

[2022-09-26 13:21] endel commented on #205
Hi @bawahakim, thanks for the feedback and suggestion. I agree the SDK should be logging a warning instead of throwing an exception on schema mismatch.

To add a bit to this discussion, this should be properly documented somewhere soon:

The reason for throwing an error initially was because the `CompareTypes()` **_may_** return a false positive if two different types have the exact same propertie

[2022-09-27 02:24] bawahakim commented on #205
@endel I opened a PR #206, tested to work locally for me. I am unsure if you want to merge this until the documentation is updated for the `Context.create` and false positives

[2022-09-27 08:27] VkDevPh commented on #204
Hi Endel,
I tried to debug, but this exception is coming at line no.  213.

[code]

Please help me to resolve this.

[2022-09-28 10:59] xhacker5000 commented on #198
I like dirty fix :)

[2022-09-29 10:08] VkDevPh commented on #204
Hi Edel,
Do we have any update on it?

NullReferenceException at line no. 213 in Class _MetadataReflection.cs_.

I'm still stuck here and not able to play the game on an iOS device.
waiting for a reply from your end.

Thanks

[2022-10-04 14:19] #205 closed

[2022-10-12 18:49] endel commented on #175
It seems this issue has some connection to this one, which has been (hopefully) fixed here: https://github.com/colyseus/colyseus/issues/495#issuecomment-1276545324

[2022-11-09 11:21] yty opened #207 "colyseus-unity-sdk-0.14.20 schema-codegen bug."
[code]

[2022-11-09 15:36] endel commented on #207
Hey @yty, thanks for reporting, this is likely due to TypeScript version (we've improved 4.8+ support here https://github.com/colyseus/schema/commit/25f9697f270f628967d7d960654cc6ef55b6cbbe)

Although it should work on previous versions, can you share with version of TypeScript are you using?
Cheers!

[2022-11-09 15:49] #207 closed

[2022-11-09 15:50] endel commented on #207
Just fixed it on https://github.com/colyseus/schema/commit/1084a6be9b9f9cabbc43425b9d4069040ffc0925, you can either upgrade TypeScript to `"typescript": "^4.8.4"`, or/and `"@colyseus/schema": "^1.0.43"` 🙏

[2022-11-11 15:36] yty commented on #207
Thanks for your reply, follow your tips,
 it is already available. :+1:

[2022-11-12 07:17] yty opened #208 "Problems with lobbyRoom and ColyseusRoomAvailable."
I try to reproduce this example in unity.
https://github.com/colyseus/colyseus-examples/blob/master/src/static/05-lobby-room.html

[code]
Q1: this error occurs
`InvalidCastException: Specified cast is not valid.`

![image](https://user-images.githubusercontent.com/841770/201462280-a53783bf-0c70-468b-84c2-5380f1775a86.png)

Q2: And how to convert this syntax?
[code]
Thanks.

[2022-11-13 07:21] yty opened #209 "colyseus-unity-sdk-0.14.15 ->18 Example Error."
[code]

[code]

![image](https://user-images.githubusercontent.com/841770/201510466-84666d27-b41f-4f70-97cc-f7bf690622f2.png)

i tested  colyseus-unity-sdk-0.14.15、colyseus-unity-sdk-0.14.16、colyseus-unity-sdk-0.14.17、colyseus-unity-sdk-0.14.18.
all this error.
but, colyseus-unity-sdk-0.14.7、olyseus-unity-sdk-0.14.10、olyseus-unity-sdk-0.14.12  has no errors.

uses unity3d.2020.3. 36f1 and unity202

[2022-11-18 02:04] yty commented on #198
Hi everyone, I'm having the same problem.
[code]
Doing this can indeed fix the problem of Webgl in Ios.
But under the Mac system (safari) it still doesn't work.

[2022-11-27 02:42] etherny commented on #198
if you can target sub .net version it can fix your issue too.
I'm having the same issue, and i juste downgrade .net to 2.1 (but keep il2cpp enabled)
<img width="815" alt="image" src="https://user-images.githubusercontent.com/4522275/204116829-1dee2ce4-c01f-4146-8058-9e807f36d1f2.png">